@media screen and (max-width: 405px) {
  .wrapper-card .card-price .div-harga {
    margin-top: 0px !important; } }

@media screen and (max-width: 1024px) {
  #section-next-first-block {
    padding-top: 60px;
    height: 440px; }
    #section-next-first-block > div {
      margin: 0px;
      width: 100%;
      padding: 0px 30px; }
      #section-next-first-block > div .div1,
      #section-next-first-block > div .div2,
      #section-next-first-block > div .div3,
      #section-next-first-block > div .div4 {
        width: 25%;
        height: 250px; }
        #section-next-first-block > div .div1 img,
        #section-next-first-block > div .div2 img,
        #section-next-first-block > div .div3 img,
        #section-next-first-block > div .div4 img {
          height: 70px;
          margin-bottom: 20px;
          width: 70px; }
        #section-next-first-block > div .div1 p,
        #section-next-first-block > div .div2 p,
        #section-next-first-block > div .div3 p,
        #section-next-first-block > div .div4 p {
          font-size: 18px; }
  #second-block .line {
    background-image: none; }
    #second-block .line .Sec2Text .wrapperText article {
      padding-top: 0px;
      margin-top: -5px; }
      #second-block .line .Sec2Text .wrapperText article p {
        line-height: 1.2; }
  #third-block article div {
    margin-top: 80px; }
  #pilihpaket-block .wrapperPembayaran {
    flex-wrap: wrap; }
    #pilihpaket-block .wrapperPembayaran .containerPembayaran1 {
      width: 100%;
      height: 505px; }
      #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran {
        width: 100%;
        width: 100vw; }
        #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran {
          margin-top: 30px;
          margin-left: 0px;
          width: 100%;
          width: 100vw; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran p {
            margin-top: 20px !important; }
    #pilihpaket-block .wrapperPembayaran .containerPembayaran2 {
      width: 100%;
      width: 100vw; }
      #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu {
        padding-top: 20px;
        padding-left: 0px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-around;
        -ms-flex-pack: space-around;
        justify-content: space-around;
        flex-wrap: wrap; }
        #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu > p {
          text-align: center;
          width: 100%;
          font-weight: 600; }
        #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1,
        #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2,
        #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 {
          margin: 0;
          width: 30%;
          margin-bottom: 15px; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 > p,
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 > p,
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 > p {
            margin-left: 0px;
            text-align: center; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran .sub1 p,
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran .sub1 p,
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran .sub1 p {
            font-size: 18px;
            padding-top: 7px;
            padding-left: 0px; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran,
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran,
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran {
            width: 100%; }
  .top-nav li .buttonLoginStyle {
    background: rgba(255, 255, 255, 0.8); }
  header .nav-fixed .menu-tab.active {
    color: #fff !important;
    background-color: #316462;
    border-bottom: none; }
  .nav-fixed {
    width: 100vw; }
  header .navBarMargin {
    margin: 0px; }
  .color-langgan-flexible {
    color: #fff !important; }
  .li-line-bound {
    display: none; }
  header .nav-fixed {
    padding-left: 20px;
    z-index: 78; }
    header .nav-fixed.on-top {
      box-shadow: none;
      background-color: transparent; }
      header .nav-fixed.on-top .nav-text {
        padding-right: 34px;
        background-color: transparent; }
        header .nav-fixed.on-top .nav-text:after, header .nav-fixed.on-top .nav-text:before,
        header .nav-fixed.on-top .nav-text span {
          background-color: #15bfae; }
  #first-block {
    height: 600px;
    padding-bottom: 0px;
    overflow: hidden;
    background: linear-gradient(45deg, #8cfae3, #c3d4fb); }
    #first-block article {
      width: 100%;
      padding: 100px 30px !important; }
    #first-block .line {
      background-position: right bottom;
      background-size: 380px;
      height: 100%; }
    #first-block h2 {
      margin-bottom: 40px !important;
      width: 350px;
      font-size: 24px; }
    #first-block .buttonMulaiSekarang {
      margin-top: 60px; }
    #first-block h4 {
      font-size: 24px;
      text-align: right; }
    #first-block p {
      width: 360px;
      font-size: 18px;
      text-align: left; }
  #second-block {
    height: 100%;
    padding: 0;
    background: #f1ffff;
    padding-top: 100px;
    height: 720px;
    position: relative; }
    #second-block .cr-wrapper {
      position: relative;
      z-index: 3;
      text-align: center; }
      #second-block .cr-wrapper h3 {
        padding-top: 20px;
        margin-bottom: 20px;
        color: #0b877e;
        font-weight: 600; }
      #second-block .cr-wrapper img {
        width: 200px; }
      #second-block .cr-wrapper .desc {
        font-size: 14px;
        padding: 0px 20px; }
        #second-block .cr-wrapper .desc br {
          margin-bottom: 20px; }
    #second-block .st-bg {
      z-index: 1;
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px; }
    #second-block article {
      width: 100%;
      padding: 50px; }
      #second-block article li {
        line-height: 33px; }
    #second-block .line {
      background-position: center;
      background-size: 380px;
      height: 100%; }
    #second-block h4 {
      font-size: 24px !important;
      text-align: center !important; }
    #second-block ul {
      font-size: 18px; }
    #second-block h2 {
      position: relative;
      z-index: 2;
      padding-top: 110px; }
  #third-block {
    padding-top: 0px;
    height: 650px; }
    #third-block article {
      width: 100%;
      padding: 50px;
      padding-top: 280px !important; }
      #third-block article li {
        line-height: 33px; }
    #third-block .line {
      background-position: top center;
      background-size: 380px;
      height: auto; }
    #third-block p {
      font-size: 22px;
      text-align: center;
      margin-top: 0px;
      color: #333; }
    #third-block h4 {
      text-align: center;
      font-size: 32px; }
    #third-block h4.margin-bottom {
      font-size: 26px;
      margin-bottom: 10px !important; }
    #third-block div.text-left {
      margin-top: 50px;
      text-align: center !important; }
  #fourth-block {
    height: 500px; }
    #fourth-block p,
    #fourth-block h4 {
      padding-left: 0px; }
    #fourth-block article {
      width: 100%;
      padding: 50px; }
    #fourth-block .line {
      background-position: right bottom;
      background-size: 300px;
      height: 100%; }
    #fourth-block p {
      font-size: 18px; }
  #pilihpaket-block {
    height: auto; }
    #pilihpaket-block h2 {
      font-size: 24px; }
    #pilihpaket-block .wrapper-card {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
      height: 390px;
      padding-top: 10px; }
  .footer-mobile .subscribe-mobile img {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important; }
  #fifth-block p {
    font-size: 18px; }
  #fifth-block button {
    height: 100%;
    padding: 10px 15px;
    font-size: 20px; }
  .img-login,
  .img-register {
    display: none !important; }
  .modal-content-login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px; }
  .modal-content-register {
    margin-left: 0 !important;
    margin-top: 95px; }
  .div-langgan-logo {
    padding-top: 9px; }
  .right {
    float: none; }
  nav {
    padding: 10px 0;
    height: 60px; }
  .logo img {
    max-width: 172px;
    max-height: 40px;
    margin: 0 auto;
    width: auto; }
  .footer-desktop {
    display: none; }
  .footer-mobile {
    display: block; }
  .margin-wa {
    display: none; }
  .starter,
  .premium,
  .enterprise {
    height: 370px !important;
    width: 300px !important;
    margin: 0 10px !important;
    display: inline-block;
    padding: 5px 15px !important;
    white-space: normal; }
    .starter label,
    .premium label,
    .enterprise label {
      font-size: 20px !important; }
    .starter hr,
    .premium hr,
    .enterprise hr {
      margin: 5px auto; }
    .starter .div-harga,
    .premium .div-harga,
    .enterprise .div-harga {
      margin-top: 40px; }
    .starter li,
    .premium li,
    .enterprise li {
      font-size: 18px !important;
      line-height: 20px !important; }
  .starter {
    margin: 0 auto; }
  .premium {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; }
  .enterprise {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto; }
  .subscribe {
    display: none; } }

@media screen and (max-width: 480px) {
  .modal-content-kupon {
    width: 300px; }
  .modal-content-profile {
    width: 350px; }
    .modal-content-profile .div-profile-preview .div-name {
      text-align: center; }
    .modal-content-profile .div-profile-preview .div-image {
      margin-right: 0px; }
    .modal-content-profile .div-form-profile {
      padding: 0 10px; }
      .modal-content-profile .div-form-profile .flex-container {
        display: flex !important; } }

@media screen and (max-width: 768px) {
  .center-when-mobile {
    text-align: center !important; }
  .btn-block-when-mobile {
    width: 100%; }
  .margin-auto-when-mobile {
    margin: auto; }
  .text-center-when-mobile {
    text-align: center; } }

@media screen and (max-width: 768px) {
  .modal-login {
    top: 0 !important;
    z-index: 2 !important; }
  .div-langgan-logo {
    padding-top: 6px; }
  #first-block article {
    width: 100%;
    padding: 35px !important; }
    #first-block article h4 {
      text-align: center; }
    #first-block article p {
      text-align: justify; }
  #second-block article {
    width: 100%; }
    #second-block article li {
      line-height: 20px; }
  #third-block article {
    width: 100%; }
    #third-block article h4 {
      text-align: center; }
  #fourth-block article {
    width: 100%;
    padding: 35px !important; }
    #fourth-block article h4 {
      text-align: center; }
    #fourth-block article .first {
      text-align: justify !important; }
  .wrapper-card {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    overflow-x: hidden !important;
    height: 100% !important; }
    .wrapper-card .card-price {
      display: block;
      width: 90% !important;
      margin-bottom: 30px !important; }
      .wrapper-card .card-price .div-harga {
        margin-top: 50px; }
  .langgan-flex {
    display: block !important; }
  .langgan-col {
    width: 100% !important;
    margin: 20px 0 !important; } }

@media screen and (max-height: 600px) {
  .modal {
    display: none;
    /* Hidden by default */
    position: scroll;
    /* Stay in place */
    z-index: 1006;
    /* Sit on top */
    left: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 0px; }
    .modal.profile {
      overflow: auto; } }

@media screen and (max-width: 500px) {
  header .nav-fixed {
    position: fixed;
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: none;
    background: #d1faf6; }
    header .nav-fixed .menu-tab:hover {
      background: #fff !important;
      color: #0b877e !important; }
    header .nav-fixed .line-bound:hover {
      color: rgba(0, 0, 0, 0.6) !important;
      background: transparent !important; }
  header .dropdown-menu {
    background: white !important;
    color: black;
    min-width: 100% !important; }
    header .dropdown-menu a {
      background: white !important; }
    header .dropdown-menu a:hover {
      background: #508a88 !important; }
  header .nav-text {
    color: #fff;
    display: inline-block;
    margin-right: 0;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    background: #d1faf6;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    z-index: 50;
    padding-right: 15px;
    padding-top: 15px; }
  header .top-nav li a {
    color: #565656;
    display: block;
    padding: 1.25rem 0.625rem;
    text-align: center;
    text-decoration: none;
    background: none repeat scroll 0 0 #d1faf6; }
  header .navBarBlogMargin {
    margin-right: 0; }
  header .navBarMargin {
    margin-left: 0; }
  header .buttonLoginStyle {
    color: #565656;
    border: 0px solid #0b877e;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    -webkit-transition: padding 365ms;
    transition: padding 365ms; }
  header .vertical-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d1faf6; }
  header .div-langgan-logo {
    padding-top: 7px;
    width: 140px;
    height: 40px; }
  #first-block {
    background: linear-gradient(to bottom, #8cfae350, #c3d4fb);
    padding-top: 5 rem;
    height: 806px; }
    #first-block .line {
      background-image: url(../svg/mobile-asset/section-1-mobile.png);
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 60%;
      background-size: 70%;
      height: 100%;
      object-fit: contain; }
    #first-block article {
      padding-top: 131px;
      padding-left: 45px; }
      #first-block article h2 {
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: 500; }
      #first-block article p {
        font-size: 12px;
        text-align: center; }
    #first-block .buttonMulaiSekarang {
      -webkit-transition: width 565ms;
      transition: width 565ms;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 2px solid #0b877e;
      border-radius: 30px;
      margin-top: 460px;
      width: 100%; }
    #first-block .buttonMulaiSekarang:hover {
      width: 240px; }
  #section-next-first-block {
    background: #f1ffff;
    height: 395px;
    padding-top: 45px; }
    #section-next-first-block h2 {
      text-align: center;
      color: #0b877e;
      font-size: 17px;
      font-family: "Rubik", sans-serif; }
    #section-next-first-block div {
      width: 100%;
      height: 100%;
      overflow: hidden;
      white-space: nowrap; }
      #section-next-first-block div .div1 {
        width: 50%;
        height: 30%;
        padding-top: 0px;
        float: none; }
        #section-next-first-block div .div1 img {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          object-fit: contain; }
        #section-next-first-block div .div1 p {
          font-size: 12px;
          font-family: "Rubik", sans-serif; }
      #section-next-first-block div .div2 {
        width: 50%;
        height: 30%;
        padding-top: 0px;
        float: none; }
        #section-next-first-block div .div2 img {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          object-fit: contain; }
        #section-next-first-block div .div2 p {
          font-size: 12px;
          font-family: "Rubik", sans-serif; }
      #section-next-first-block div .div3 {
        width: 50%;
        height: 30%;
        padding-top: 0px;
        float: left;
        margin-top: 30px; }
        #section-next-first-block div .div3 img {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          object-fit: contain; }
        #section-next-first-block div .div3 p {
          font-size: 12px;
          font-family: "Rubik", sans-serif; }
      #section-next-first-block div .div4 {
        width: 50%;
        height: 30%;
        padding-top: 0px;
        float: left;
        margin-top: 30px; }
        #section-next-first-block div .div4 img {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          object-fit: contain; }
        #section-next-first-block div .div4 p {
          font-size: 12px;
          font-family: "Rubik", sans-serif; }
  #second-block {
    background: #f1ffff;
    height: 2590px;
    background-image: url(../svg/bg-anti-ribet-sec2.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
    object-fit: cover;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 25%;
    vertical-align: middle; }
    #second-block h2 {
      font-size: 23px;
      font-weight: 500;
      text-align: center;
      font-family: "Rubik", sans-serif; }
    #second-block .imageRight {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 87px; }
    #second-block .line {
      height: 313px;
      width: 100%;
      background-image: none; }
      #second-block .line .gambarIlustrasiSec2 {
        width: 100%;
        height: 30%;
        display: block;
        margin-top: 80px; }
      #second-block .line .Sec2Text {
        width: 100%;
        height: 100%;
        float: left;
        padding-left: 0;
        padding-top: 15%;
        margin-top: 50px; }
        #second-block .line .Sec2Text h2 {
          font-size: 15px;
          font-weight: 600;
          font-family: "Rubik", sans-serif; }
        #second-block .line .Sec2Text .wrapperText {
          height: 100%;
          width: 100%;
          margin-top: 0px; }
          #second-block .line .Sec2Text .wrapperText .styleLine {
            width: 2%;
            height: 100%;
            margin-left: 10px; }
          #second-block .line .Sec2Text .wrapperText article {
            width: 90%;
            padding: 0; }
            #second-block .line .Sec2Text .wrapperText article h3 {
              font-size: 15px;
              margin-left: 10px;
              font-family: "Rubik", sans-serif; }
            #second-block .line .Sec2Text .wrapperText article p {
              margin-left: 10px;
              font-size: 12px;
              font-family: "Rubik", sans-serif; }
  #third-block {
    height: 500px; }
    #third-block .line {
      background-image: url(../svg/Ilustrasi-Section-33.png);
      background-repeat: no-repeat;
      background-position: 100%;
      background-position-y: 0;
      background-position-x: center;
      background-size: 80%;
      height: 450px;
      object-fit: contain; }
    #third-block article {
      margin-top: 65%;
      padding-top: 0 !important;
      padding-left: 14px !important;
      padding-right: 14px !important; }
      #third-block article div {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center; }
      #third-block article h4.margin-bottom {
        font-size: 15px; }
    #third-block h2 {
      color: black;
      text-align: center;
      font-size: 17px;
      font-family: "Rubik", sans-serif; }
    #third-block p {
      font-family: "Rubik", sans-serif;
      font-size: 12px;
      text-align: center;
      margin-top: 10px; }
    #third-block .buttonTelusuriTema {
      -webkit-transition: padding 565ms;
      transition: padding 565ms;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px;
      color: #0b877e;
      border: 2px solid #0b877e;
      border-radius: 30px;
      font-weight: bold;
      font-size: 12px;
      font-family: "Rubik", sans-serif; }
    #third-block .buttonTelusuriTema:hover {
      padding-left: 50px;
      padding-right: 50px; }
  #pilihpaket-block {
    background: #f1ffff;
    height: 930px;
    background-image: url(../svg/mobile-asset/background-pembayaran-mobile.svg);
    background-repeat: no-repeat;
    object-fit: cover; }
    #pilihpaket-block .wrapperPembayaran {
      width: 100%;
      height: auto;
      display: block;
      justify-content: center;
      align-items: center; }
      #pilihpaket-block .wrapperPembayaran .containerPembayaran1 {
        width: 100%;
        height: 100%; }
        #pilihpaket-block .wrapperPembayaran .containerPembayaran1 h2 {
          text-align: center;
          color: black;
          font-size: 17px;
          font-family: "Rubik", sans-serif; }
        #pilihpaket-block .wrapperPembayaran .containerPembayaran1 p {
          text-align: center;
          color: #4a4a4a;
          font-size: 12px;
          font-family: "Rubik", sans-serif;
          margin: 0; }
        #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran {
          background-repeat: no-repeat;
          background-image: none;
          width: 100%;
          height: 100%;
          background-position-y: 40px;
          object-fit: cover; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperJudulPilihPaket {
            padding-left: 0;
            padding-bottom: 0;
            margin: 0; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperKeteranganPilihPaket {
            padding-left: 0;
            margin: 62px 25px 0 25px; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran {
            width: 100%;
            height: 229px;
            margin-top: 30px;
            margin-left: 0px;
            display: block;
            align-items: center; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content1 {
              width: 100%;
              height: 67px;
              padding-left: 99px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content1 .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content1 .imagePembayaran:hover {
                background-image: url(../svg/mobile-asset/icon-pembayaran-bisniskit-mobile.svg); }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content1 p {
                background: linear-gradient(to right, #15bfae, #5ca3fa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                margin-top: 0;
                font-size: 12px;
                text-align: left;
                margin-top: 0px !important; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content1:hover {
              transform: scale(1.1); }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content2 {
              width: 100%;
              height: 67px;
              padding-left: 99px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 10px; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content2 .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon2-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content2 .imagePembayaran:hover {
                background-image: url(../svg/mobile-asset/icon2-pembayaran-bisniskit-mobile.svg); }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content2 p {
                background: linear-gradient(to right, #15bfae, #5ca3fa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                margin-top: 0;
                font-size: 12px;
                text-align: left;
                margin-top: 0px !important; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content2:hover {
              transform: scale(1.1); }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content3 {
              width: 100%;
              height: 67px;
              padding-left: 99px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 10px; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content3 .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon3-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content3 .imagePembayaran:hover {
                background-image: url(../svg/mobile-asset/icon3-pembayaran-bisniskit-mobile.svg); }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content3 p {
                background: linear-gradient(to right, #15bfae, #5ca3fa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                margin-top: 0;
                font-size: 12px;
                text-align: left;
                margin-top: 0px !important; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content3:hover {
              transform: scale(1.1); }
      #pilihpaket-block .wrapperPembayaran .containerPembayaran2 {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px; }
        #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu {
          padding-top: 0;
          padding-left: 0; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu p {
            text-align: center;
            color: #4a4a4a;
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 20px;
            padding-left: 0;
            font-family: "Rubik", sans-serif; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 {
            width: 100%;
            height: 97px;
            margin-bottom: 20px; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 p {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 8px;
              font-family: "Rubik", sans-serif; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran {
              background: linear-gradient(to right, #d1c7ff, #a6d5ff);
              width: 100%;
              height: 59px;
              border-radius: 50px;
              box-shadow: 4px 5px 10px -1px #a6d5ff;
              cursor: pointer; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran .sub1 {
                width: 70%;
                height: 100%;
                padding-left: 35px;
                padding-top: 10px; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran .sub1 p {
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 23px;
                  font-family: "Rubik", sans-serif;
                  text-align: left; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran .sub2 {
                width: 30%;
                height: 100%;
                padding-top: 5px;
                padding-right: 5px; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran .sub2 .buttonPilih {
                  background-image: url(../svg/arrowPembayaran1.svg);
                  background-repeat: no-repeat;
                  height: 50px;
                  width: 50px;
                  background-color: #ffffff;
                  border-radius: 24px;
                  display: inline-block;
                  background-position: 60% 50%;
                  background-repeat: no-repeat;
                  -webkit-transition: width 565ms;
                  transition: width 565ms;
                  cursor: pointer; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran .sub2 .buttonPilih:hover {
                  background-image: url(../svg/textPilihPembayaran1.svg);
                  width: 100px;
                  border-radius: 24px;
                  -moz-border-radius: 24px;
                  -webkit-border-radius: 24px;
                  background-position: 50% 50%; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content1 .subContentPembayaran:hover .buttonPilih {
              background-image: url(../svg/textPilihPembayaran1.svg);
              background-repeat: no-repeat;
              height: 50px;
              width: 100px;
              background-color: #ffffff;
              border-radius: 24px;
              display: inline-block;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              -webkit-transition: width 565ms;
              transition: width 565ms;
              cursor: pointer;
              border-radius: 24px;
              -moz-border-radius: 24px;
              -webkit-border-radius: 24px; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 {
            width: 100%;
            height: 97px; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 p {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 8px; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran {
              background: linear-gradient(to right, #ffbba9, #ff96a9);
              width: 100%;
              height: 59px;
              border-radius: 50px;
              box-shadow: 4px 5px 10px -1px #ffbba9;
              cursor: pointer; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran .sub1 {
                width: 70%;
                height: 100%;
                padding-left: 35px;
                padding-top: 10px; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran .sub1 p {
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 23px;
                  text-align: left; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran .sub2 {
                width: 30%;
                height: 100%;
                padding-top: 5px;
                padding-right: 5px; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran .sub2 div {
                  background-image: url(../svg/arrowPembayaran2.svg);
                  background-repeat: no-repeat;
                  height: 50px;
                  width: 50px;
                  background-color: #ffffff;
                  border-radius: 24px;
                  display: inline-block;
                  background-position: 60% 50%;
                  background-repeat: no-repeat;
                  -webkit-transition: width 565ms;
                  transition: width 565ms;
                  cursor: pointer; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran .sub2 div:hover {
                  background-image: url(../svg/textPilihPembayaran2.svg);
                  width: 100px;
                  border-radius: 24px;
                  -moz-border-radius: 24px;
                  -webkit-border-radius: 24px;
                  background-position: 50% 50%; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content2 .subContentPembayaran:hover .buttonPilih {
              background-image: url(../svg/textPilihPembayaran2.svg);
              background-repeat: no-repeat;
              height: 50px;
              width: 100px;
              background-color: #ffffff;
              border-radius: 24px;
              display: inline-block;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              -webkit-transition: width 565ms;
              transition: width 565ms;
              cursor: pointer;
              border-radius: 24px;
              -moz-border-radius: 24px;
              -webkit-border-radius: 24px; }
          #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 {
            width: 100%;
            height: 97px; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 p {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 8px; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran {
              background: linear-gradient(to right, #88bbff, #565cc5);
              width: 100%;
              height: 59px;
              border-radius: 50px;
              box-shadow: 4px 5px 10px -1px #88bbff;
              cursor: pointer; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran .sub1 {
                width: 70%;
                height: 100%;
                padding-left: 35px;
                padding-top: 10px; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran .sub1 p {
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 23px;
                  text-align: left; }
              #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran .sub2 {
                width: 30%;
                height: 100%;
                padding-top: 5px;
                padding-right: 5px; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran .sub2 div {
                  background-image: url(../svg/arrowPembayaran3.svg);
                  background-repeat: no-repeat;
                  height: 50px;
                  width: 50px;
                  background-color: #ffffff;
                  border-radius: 24px;
                  display: inline-block;
                  background-position: 60% 50%;
                  background-repeat: no-repeat;
                  -webkit-transition: width 565ms;
                  transition: width 565ms;
                  cursor: pointer; }
                #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran .sub2 div:hover {
                  background-image: url(../svg/textPilihPembayaran3.svg);
                  width: 100px;
                  border-radius: 24px;
                  -moz-border-radius: 24px;
                  -webkit-border-radius: 24px;
                  background-position: 50% 50%; }
            #pilihpaket-block .wrapperPembayaran .containerPembayaran2 .wrapperJangkaWaktu .content3 .subContentPembayaran:hover .buttonPilih {
              background-image: url(../svg/textPilihPembayaran3.svg);
              background-repeat: no-repeat;
              height: 50px;
              width: 100px;
              background-color: #ffffff;
              border-radius: 24px;
              display: inline-block;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              -webkit-transition: width 565ms;
              transition: width 565ms;
              cursor: pointer;
              border-radius: 24px;
              -moz-border-radius: 24px;
              -webkit-border-radius: 24px; }
  #fourth-block {
    background: linear-gradient(to bottom, #f1ffff, #ddfff4);
    height: 533px; }
    #fourth-block .line {
      background-image: url(../svg/ilustrasi-Hubungi-Kami2.png);
      padding: 0;
      background-repeat: no-repeat;
      background-position: 100%;
      height: 100%;
      object-fit: contain;
      background-position-y: 100%; }
      #fourth-block .line article {
        margin-top: 0; }
    #fourth-block h2 {
      text-align: center;
      color: #565656;
      font-size: 17px;
      font-weight: 500;
      padding-left: 0;
      padding-bottom: 10px;
      font-family: "Rubik", sans-serif; }
    #fourth-block i {
      margin-right: 10px; }
    #fourth-block p {
      padding-left: 0px;
      font-size: 12px;
      text-align: center;
      color: #4a4a4a;
      font-family: "Rubik", sans-serif; }
  #fifth-block {
    background-color: #ffffff;
    background-image: url(../svg/mobile-asset/Section-Melangkah-mobile.png);
    background-repeat: no-repeat;
    height: 380px;
    width: 100%;
    object-fit: contain;
    background-size: 100%; }
    #fifth-block h2 {
      text-align: center;
      color: #0b877e;
      font-size: 17px;
      font-family: "Rubik", sans-serif; }
    #fifth-block button {
      background-color: #15bfae;
      border: transparent;
      color: white;
      font-size: 10px;
      height: 20px;
      width: 82px;
      border-radius: 30px;
      font-weight: bold;
      box-shadow: 4px 5px 12px -1px #29d2c1;
      padding: 0; }
    #fifth-block p {
      font-size: 12px;
      color: #565656;
      font-weight: 500;
      font-family: "Rubik", sans-serif; }
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1006;
    /* Sit on top */
    left: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: scroll;
    /* Enable scroll if needed */
    background-color: black;
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px; }
    .modal.profile {
      overflow: auto; }
  .modal-agreement {
    background-color: #ffffff;
    width: 100%;
    height: 95%;
    display: inline-block;
    margin-top: 5%;
    padding: 25px 25px; }
    .modal-agreement .div-label {
      text-align: left; }
      .modal-agreement .div-label label {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal; }
    .modal-agreement .div-p {
      margin-top: 20px;
      overflow-y: auto;
      height: 510px; }
      .modal-agreement .div-p p {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        opacity: 0.6;
        width: 732px;
        text-align: justify; }
    .modal-agreement .div-button {
      margin-top: 30px; }
      .modal-agreement .div-button .responsive-button {
        width: 50%;
        float: left; }
      .modal-agreement .div-button .btn-white {
        border: 0;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
        width: 87px;
        height: 40px; }
      .modal-agreement .div-button .btn-green {
        border: 0;
        background-color: #508a88;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
        width: 112px;
        height: 40px; }
  .modal-berhasil {
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 415px;
    display: inline-block;
    margin-top: 5%;
    padding: 25px 25px; }
    .modal-berhasil .div-label {
      text-align: center; }
      .modal-berhasil .div-label label {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal; }
    .modal-berhasil .div-img {
      text-align: center;
      margin-top: 20px; }
      .modal-berhasil .div-img img {
        display: inline; }
    .modal-berhasil .div-p {
      margin-top: 30px;
      height: auto; }
      .modal-berhasil .div-p p {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        opacity: 0.6;
        text-align: justify; }
    .modal-berhasil .div-button {
      margin-top: 30px; }
      .modal-berhasil .div-button .btn-white-new {
        height: 45px; }
  .modal-content-profile {
    background-color: #fefefe; }
    .modal-content-profile .div-form-profile label {
      color: rgba(0, 0, 0, 0.774);
      font-weight: normal;
      font-size: 14px; }
    .modal-content-profile .div-form-profile .form-control {
      background: #f7f7f7;
      border: 1.5px solid #979797;
      border-radius: 3px !important; }
    .modal-content-profile .div-form-profile select {
      width: 100%;
      height: 37px;
      display: inline; }
    .modal-content-profile .div-form-profile input[type="number"]::-webkit-inner-spin-button,
    .modal-content-profile .div-form-profile input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .modal-content-profile .div-form-profile input[type="number"] {
      -moz-appearance: textfield;
      /* Firefox */ } }

@media screen and (max-width: 340px) {
  header .nav-fixed {
    position: fixed;
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;
    box-shadow: none;
    background: #d1faf6; }
    header .nav-fixed .menu-tab:hover {
      background: #fff !important;
      color: #0b877e !important; }
    header .nav-fixed .line-bound:hover {
      color: rgba(0, 0, 0, 0.6) !important;
      background: transparent !important; }
  header .dropdown-menu {
    background: white !important;
    color: black;
    min-width: 100% !important; }
    header .dropdown-menu a {
      background: white !important; }
    header .dropdown-menu a:hover {
      background: #508a88 !important; }
  header .nav-text {
    color: #fff;
    display: inline-block;
    margin-right: 0;
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
    background: #d1faf6;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    z-index: 50;
    padding-top: 15px; }
  header .top-nav li a {
    color: #565656;
    display: block;
    padding: 1.25rem 0.625rem;
    text-align: center;
    text-decoration: none;
    background: none repeat scroll 0 0 #d1faf6; }
  header .navBarBlogMargin {
    margin-right: 0; }
  header .navBarMargin {
    margin-left: 0; }
  header .buttonLoginStyle {
    color: #565656;
    border: 0px solid #0b877e;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    -webkit-transition: padding 365ms;
    transition: padding 365ms; }
  header .vertical-align-center {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #d1faf6; }
  #first-block {
    background: linear-gradient(to bottom, #8cfae350, #c3d4fb);
    padding-top: 5 rem;
    height: 786px; }
    #first-block .buttonMulaiSekarang {
      margin-top: 400px; }
  #second-block {
    background: #f1ffff;
    height: 2390px;
    background-image: url(../svg/bg-anti-ribet-sec2.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
    object-fit: cover;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 25%; }
    #second-block .imageRight {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 87px; }
    #second-block .line .gambarIlustrasiSec2 {
      margin-top: 70px; }
    #second-block .line .Sec2Text {
      padding-top: 0;
      margin-top: 50px; }
  #pilihpaket-block {
    background: #f1ffff;
    height: 980px;
    background-image: url(../svg/mobile-asset/background-pembayaran-mobile.svg);
    background-repeat: no-repeat;
    object-fit: cover; }
    #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content1 {
      width: 100%;
      height: 67px;
      padding-left: 50px;
      transition: all 0.2s ease-in-out;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content1 .imagePembayaran {
        width: 90px;
        height: 67px;
        background-image: url(../svg/mobile-asset/icon-pembayaran-bisniskit-mobile.svg);
        background-repeat: no-repeat;
        object-fit: contain;
        text-align: left;
        float: none;
        margin: 0;
        display: block; }
    #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content2 {
      width: 100%;
      height: 67px;
      padding-left: 50px;
      transition: all 0.2s ease-in-out;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px; }
      #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content2 .imagePembayaran {
        width: 90px;
        height: 67px;
        background-image: url(../svg/mobile-asset/icon2-pembayaran-bisniskit-mobile.svg);
        background-repeat: no-repeat;
        object-fit: contain;
        text-align: left;
        float: none;
        margin: 0;
        display: block; }
    #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content3 {
      width: 100%;
      height: 67px;
      padding-left: 50px;
      transition: all 0.2s ease-in-out;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 10px; }
      #pilihpaket-block .wrapperPembayaran .containerPembayaran1 .contentPembayaran .wrapperListKeteranganPembayaran .content3 .imagePembayaran {
        width: 90px;
        height: 67px;
        background-image: url(../svg/mobile-asset/icon3-pembayaran-bisniskit-mobile.svg);
        background-repeat: no-repeat;
        object-fit: contain;
        text-align: left;
        float: none;
        margin: 0;
        display: block; }
  #fifth-block {
    background-color: #ffffff;
    background-image: url(../svg/mobile-asset/Section-Melangkah-mobile.png);
    background-repeat: no-repeat;
    height: 320px;
    width: 100%;
    object-fit: contain;
    background-size: 100%; }
    #fifth-block h4 {
      text-align: center;
      color: #0b877e;
      font-size: 12px;
      font-family: "Rubik", sans-serif; }
    #fifth-block button {
      background-color: #15bfae;
      border: transparent;
      color: white;
      font-size: 10px;
      height: 20px;
      width: 82px;
      border-radius: 30px;
      font-weight: bold;
      box-shadow: 4px 5px 12px -1px #29d2c1;
      padding: 0; }
    #fifth-block p {
      font-size: 10px;
      color: #565656;
      font-weight: 500;
      font-family: "Rubik", sans-serif; }
  .modal-agreement {
    background-color: #ffffff;
    width: 100%;
    height: 95%;
    display: inline-block;
    margin-top: 5%;
    padding: 25px 25px; }
    .modal-agreement .div-label {
      text-align: left; }
      .modal-agreement .div-label label {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal; }
    .modal-agreement .div-p {
      margin-top: 20px;
      overflow-y: auto;
      height: 70%; }
      .modal-agreement .div-p p {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        opacity: 0.6;
        width: 732px;
        text-align: justify; }
    .modal-agreement .div-button {
      margin-top: 30px; }
      .modal-agreement .div-button .responsive-button {
        width: 50%;
        float: left; }
      .modal-agreement .div-button .btn-white {
        border: 0;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
        width: 87px;
        height: 40px; }
      .modal-agreement .div-button .btn-green {
        border: 0;
        background-color: #508a88;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
        width: 112px;
        height: 40px; } }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    color: black;
    float: none; }
  .cancelbtn {
    width: 100%; } }
