.block {
  display: block; }

.hide {
  display: none; }

.center {
  text-align: center; }

.right {
  text-align: right; }

.hidden {
  display: none; }

.btn:hover, .btn:focus {
  box-shadow: none; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.inline-content {
  display: inline-block; }

.img-responsive {
  margin: 0 auto;
  text-align: center; }

.auto-margin {
  margin: 0 auto; }

.block {
  display: block; }

.visible {
  visibility: visible; }

.invisible {
  visibility: hidden; }

.relative {
  position: relative; }

.no-border {
  border: 0; }

.uppercase {
  text-transform: uppercase; }

.float-align-left {
  float: left; }

.float-align-right {
  float: right; }

/*
* FLEX CONTAINER
*/
.flex-container, .vertical-item--center, .vertical-item--top, .vertical-item--justify, .horizontal-item--start, .horizontal-item--around, .horizontal-item--between, .horizontal-item--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex, .vertical-item--between {
  display: flex; }

.flex-column, .vertical-item--between {
  flex-flow: column; }

.flex-nowrap {
  flex-wrap: nowrap; }

.flex-around, .horizontal-item--around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.flex-between, .horizontal-item--between, .vertical-item--between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex-start, .vertical-item--justify {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.flex-around, .horizontal-item--around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.flex-center, .horizontal-item--start, .horizontal-item--center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.align-items-center, .vertical-item--center, .horizontal-item--around, .horizontal-item--between, .horizontal-item--center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-items-start, .vertical-item--top, .horizontal-item--start {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start; }

.align-items-end {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end; }

.align-self-end {
  align-self: flex-end; }

.align-self-start {
  align-self: flex-start; }

.align-self-center {
  align-self: center; }

.flex-initial {
  flex: initial; }

.flex-1 {
  flex: 1; }

.flex-inherit {
  flex: inherit; }

.flex-row {
  flex-flow: row; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.well-legend {
  display: block;
  font-size: 14px;
  width: auto;
  padding: 2px 7px 2px 5px;
  margin-bottom: 20px;
  line-height: inherit;
  color: #333;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05); }

.skin-blue .main-sidebar {
  background-color: #DCE1EE; }

.bold {
  font-weight: bold; }

.skin-blue .main-header .logo {
  background-color: #DCE1EE;
  color: #565682;
  margin-top: 25px; }

.skin-blue .main-header .logo:hover {
  background: #DCE1EE; }

.skin-blue .main-header .navbar {
  background-color: #EDEFF2;
  color: #565682; }

.skin-blue .sidebar-menu > li.header {
  background: #DCE1EE; }

.skin-blue .sidebar-menu > li > .treeview-menu {
  background: #DCE1EE; }

.skin-blue .wrapper {
  background: #DCE1EE; }

.skin-blue .main-sidebar, .skin-blue .left-side {
  background: #DCE1EE; }

.skin-blue .treeview-menu > li.active > a, .skin-blue .treeview-menu > li > a:hover {
  color: #565682; }

.skin-blue .user-panel > .info, .skin-blue .user-panel > .info > a {
  color: #565682; }

a {
  color: #565682 !important; }

.skin-blue .content-header {
  background: #EDEFF2;
  color: #565682 !important;
  padding-left: 40px; }

.content {
  background: #EDEFF2;
  padding-left: 40px; }

.logo-2 {
  width: 113px;
  height: auto; }

section.sidebar {
  margin-top: 54px;
  padding-right: 15px; }

.sidebar-menu > li:hover {
  background: rgba(238, 242, 246, 0.5) !important;
  color: #0FB2AB; }

.skin-blue .sidebar-menu > li > a {
  border: 0; }

.sidebar-menu > li > a {
  padding: 5px 5px 5px 40px;
  height: 38px;
  color: #565682 !important;
  border-radius: 0px 16px 16px 0px; }

.sidebar-menu > li {
  border-radius: 0px 16px 16px 0px; }

.sidebar-menu > li > a > i {
  margin-right: 20px; }

.sidebar-menu > li > a:hover {
  background: rgba(238, 242, 246, 0.5) !important;
  color: #0FB2AB !important; }

.sidebar-menu > li.active > a {
  background: rgba(238, 242, 246, 0.5) !important;
  color: #0FB2AB !important;
  border-radius: 0px 16px 16px 0px; }

.sidebar-menu > li.active {
  background: rgba(238, 242, 246, 0.5) !important;
  color: #0FB2AB !important;
  border-radius: 0px 16px 16px 0px; }

.sidebar-menu > li.active > a:hover {
  background: rgba(238, 242, 246, 0.5) !important;
  color: #0FB2AB !important;
  border-radius: 0px 16px 16px 0px; }

table.dataTable thead tr {
  background-color: #000;
  color: #fff;
  height: 15px;
  font-size: 12px; }

table.dataTable {
  border-collapse: separate;
  border-spacing: 0 1em;
  border-left: 0px;
  border-right: 0px; }

table.dataTable thead tr th {
  text-align: center; }

table.dataTable tbody tr {
  height: 68px; }

table.dataTable tbody tr td {
  padding-top: 20px;
  text-align: center; }

.content-wrapper {
  background-color: #fff; }

.box {
  border: 0px;
  box-shadow: 0 0px 0px; }

input[type=search] {
  border-radius: 12px;
  padding-left: 45px;
  width: 180px;
  height: 38px;
  background-image: url(../img/search-icon.png);
  background-repeat: no-repeat;
  background-position: 10% 53%;
  border-color: transparent; }

.main-footer {
  border-top: 0px; }

nav {
  width: auto; }

.label-dashboard {
  font-size: 24px;
  font-weight: bold; }

.navbar-static-top {
  padding-left: 40px;
  padding-top: 25px; }

.bg-white {
  background-color: white;
  border-radius: 16px;
  color: #9191AF;
  box-shadow: none;
  height: 160px; }
  .bg-white .inner {
    padding: 20px; }

.user-image {
  width: 40px !important;
  height: 40px !important;
  -webkit-filter: drop-shadow(1px 4px 5px #222222);
  filter: drop-shadow(1px 4px 5px #222222); }

.messages-menu .fa {
  font-size: 20px; }

.notifications-menu .fa {
  font-size: 20px; }

.user-menu {
  height: 59px; }
  .user-menu a {
    height: 70px; }

.box-primary {
  border-radius: 16px; }

.box-solid {
  border-radius: 16px; }

.box-title {
  font-size: 15px;
  color: #9191AF; }

.todo-list li {
  border: 0;
  background-color: transparent;
  padding-left: 0;
  font-size: 14px;
  color: #565682;
  font-weight: normal; }

.todo-list .text {
  font-weight: normal !important; }

.todo-list img {
  display: inline;
  margin-right: 24px; }

.btn-load-more {
  width: 100%;
  background: rgba(220, 225, 238, 0.4) !important;
  border: 0;
  border-radius: 10px; }

.btn-add-user {
  height: 35px; }

.input-reset-password {
  width: 300px;
  height: 30px;
  margin-left: 10px;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  margin-bottom: 10px; }

.dataTables_paginate {
  text-align: center; }
  .dataTables_paginate a {
    border: 0 !important;
    background: transparent !important;
    font-size: 18px !important;
    color: #52575A !important; }
  .dataTables_paginate a:hover, .dataTables_paginate a.active {
    border: 1px solid #94979B !important; }

thead tr {
  background-color: white !important;
  color: #94979B !important;
  font-size: 16px !important;
  font-weight: normal !important; }
  thead tr th {
    background: transparent;
    border: 0 !important;
    font-weight: normal !important; }

tbody tr {
  background-color: white !important;
  color: #94979B !important;
  font-size: 16px !important;
  font-weight: normal !important;
  border: 0 !important; }
  tbody tr td {
    background: transparent;
    border: 0 !important;
    font-weight: normal !important; }
  tbody tr td:first-child {
    border: 0 !important;
    border-right: 0 !important; }
  tbody tr td:last-child {
    border: 0 !important;
    border-right: 0 !important; }

.m-0 {
  margin: 0 !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-l-5 {
  margin-left: 5px !important; }

.m-t-5 {
  margin-top: 5px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-t-15 {
  margin-top: 15px !important; }

.m-t-20 {
  margin-top: 20px !important; }

.m-r-5 {
  margin-right: 5px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-b-15 {
  margin-bottom: 15px !important; }

.m-b-20 {
  margin-bottom: 20px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }

.p-t-10 {
  padding-top: 10px !important; }

.p-b-10 {
  padding-bottom: 10px !important; }

.btn-add-report {
  width: auto;
  height: 35px;
  font-size: 14px;
  padding: 0 10px;
  border-radius: 5px;
  background-color: #508A88;
  color: white; }
  .btn-add-report i {
    margin-right: 10px; }

.dropdown-menu-report {
  position: absolute;
  left: auto;
  right: 0;
  width: 360px;
  padding: 5px 0;
  border: 1px solid #CCC;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.div-table-reports {
  color: #212145; }
  .div-table-reports table thead td {
    color: black; }
  .div-table-reports .div-button-csv {
    margin-top: 215px; }

.bor-top-1 {
  border-top: 1px solid rgba(0, 0, 0, 0.5); }

.bor-right-1 {
  border-right: 1px solid rgba(0, 0, 0, 0.5); }

.bor-bot-1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.5); }

.bor-left-1 {
  border-left: 1px solid rgba(0, 0, 0, 0.5); }

.user-header img {
  display: inline; }

.user-footer a {
  height: auto; }

.span-error {
  color: red;
  font-size: 8px; }

.MuiInputBase-root {
  border-radius: 8px; }
  .MuiInputBase-root input {
    font-size: 14px;
    border-radius: 8px; }

.MuiButton-root {
  color: #fff !important;
  background-color: #009688 !important;
  border-radius: 8px !important; }
  .MuiButton-root span {
    font-size: 15px; }

.MuiInputLabel-outlined {
  font-size: 14px !important; }

.MuiInputLabel-shrink {
  font-size: 14px !important; }

.MuiFormControlLabel-label {
  font-size: 14px !important; }

.MuiTypography-colorTextSecondary {
  font-size: 14px !important; }

.MuiPaper-root .span-error {
  font-size: 12px !important; }

.MuiAvatar-root {
  background-color: #009688 !important; }

.p-countdown-otp {
  font-size: 14px;
  text-align: center;
  margin-bottom: 0; }
