body {
  font-family: 'Helvetica', 'Arial', sans-serif; }

.f-20 {
  font-size: 20px; }

.div-atau {
  width: 100%;
  height: 13px;
  border-bottom: 1px solid #979797;
  text-align: center; }
  .div-atau span {
    font-size: 16px;
    background-color: #FFFFFF;
    padding: 0 10px; }

.p-18 {
  padding-top: 18px; }

.show {
  display: block !important; }

.background-white {
  background-color: #FFFFFF; }

nav {
  padding: 0.825rem 0; }

#first-block, #second-block, #third-block, #fourth-block, #fifth-block, #pilihpaket-block {
  padding: 4.5rem 0; }

#carousel {
  background: #f8f8f8; }

#first-block {
  background: #fff;
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  background-position: 90% 30%;
  height: 500px; }

#second-block {
  background: #F7FFFF;
  background-image: url(../img/Phone.png);
  background-repeat: no-repeat;
  background-position: 10% -15%;
  height: 500px; }

#third-block {
  background: #fff;
  background-image: url(../img/Vector1.png);
  background-repeat: no-repeat;
  background-position: 90% 30%;
  height: 500px; }

#fourth-block {
  background: #fff;
  background-image: url(../img/Vector2.png);
  background-repeat: no-repeat;
  background-position: 10% 40%;
  height: 500px; }

#fifth-block {
  background: #F7FFFF;
  height: 500px; }

#pilihpaket-block {
  background: #F7FFFF;
  height: 700px; }

#tema-header-block {
  background: #fff;
  height: 300px;
  padding: 4.5rem 0; }

#tema-block {
  background: #F7FFFF;
  height: auto;
  padding: 4.5rem 0; }

#tema-detail-block {
  background: #F7FFFF;
  height: auto;
  padding: 4.5rem 0; }

#step-nav-block {
  background: #F7FFFF;
  height: auto;
  padding: 4.5rem 0; }

footer {
  background: #000;
  padding: 20px 0;
  color: white; }

@media screen and (max-width: 768px) {
  .right {
    float: none; }
  nav {
    padding: 10px 0;
    height: 60px; }
  .logo img {
    max-width: 172px;
    max-height: 40px;
    margin: 0 auto;
    width: auto; } }

.starter {
  height: 430px;
  width: 350px;
  border-radius: 10px 10px 0 0;
  border-top: 20px solid #508A88;
  color: #508A88; }

.premium {
  height: 430px;
  width: 350px;
  border-radius: 10px 10px 0 0;
  border-top: 20px solid #518A50;
  color: #518A50; }

.enterprise {
  height: 430px;
  width: 350px;
  border-radius: 10px 10px 0 0;
  border-top: 20px solid #50528A;
  color: #50528A; }

.custom-input-landing-page {
  width: 100%;
  font-size: 20px;
  padding: 12px 0;
  margin: 8px 0;
  display: inline-block;
  border: 0;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  outline: none; }

.custom-input-admin {
  width: 100%;
  font-size: 20px;
  padding: 12px 0;
  margin: 8px 0;
  display: inline-block;
  border: 0;
  box-sizing: border-box;
  outline: none; }

/* Set a style for all buttons */
button {
  background-color: #508A88;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100px;
  font-size: 22px;
  border-radius: 5px; }

button:hover {
  opacity: 0.8; }

.btn-cari {
  width: 71px;
  height: 35px;
  font-size: 14px;
  padding: 0;
  margin-left: 5px; }

.btn-offline {
  width: 100%;
  height: 37px;
  font-size: 16px;
  padding: 0;
  background-color: white;
  color: #518A50;
  border: 1px solid #518A50; }

.btn-dashboard {
  width: 100%;
  height: 37px;
  font-size: 16px;
  padding: 0;
  background-color: #518A50;
  color: white; }

.btn-subscribe {
  width: 100%;
  height: 37px;
  font-size: 16px;
  padding: 0;
  background-color: #518A50;
  color: white; }

.input-email-subscribe {
  width: 214px !important;
  height: 29px;
  font-size: 14px !important;
  opacity: 0.38;
  color: black;
  background-color: white;
  padding: 5px 10px !important; }

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336; }

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
  font-size: 24px; }

img.avatar {
  width: 40%;
  border-radius: 50%; }

.container {
  padding: 16px 40px; }

span.psw {
  float: right; }

.div-login {
  text-align: center;
  margin-top: 10px; }

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: hidden;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 0px; }

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */ }

.modal-content-login {
  background-color: #fefefe;
  margin: 4% auto 0% -1px;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 350px;
  /* Could be more or less, depending on screen size */
  height: 550px;
  position: absolute;
  display: inline-block; }

.modal-content-register {
  background-color: #fefefe;
  margin: 2% auto 0% auto;
  border: 1px solid #888;
  width: 350px;
  height: 551px;
  position: absolute;
  display: inline-block; }

.img-login {
  border: 0;
  display: inline;
  height: auto;
  max-width: 100%;
  margin-top: 4%;
  margin-left: 18%;
  width: auto; }

.img-register {
  border: 0;
  display: inline;
  height: auto;
  max-width: 100%;
  margin-top: 2%;
  margin-left: 48%;
  margin-right: -59%;
  width: auto; }

.img-tema {
  display: inline; }

.react-datepicker-wrapper {
  display: inline; }

/* The Close Button (x) */
.close {
  position: absolute;
  right: 10px;
  top: -20px;
  color: #000;
  font-size: 24px;
  font-weight: bold; }

.close:hover,
.close:focus {
  color: red;
  cursor: pointer; }

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s; }

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0); }
  to {
    -webkit-transform: scale(1); } }

@keyframes animatezoom {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 100%; } }

.p-t-20 {
  padding-top: 20px; }

.color-langgan {
  color: #508A88 !important; }

.bg-color-langgan {
  background-color: #508A88 !important; }

.bold {
  font-weight: bold; }

.div-nav-tab {
  width: 700px;
  height: 498px;
  background: #FFFFFF;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); }

.ProgressBar {
  margin: 0 auto;
  padding: 2em 0 3em;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between; }

.ProgressBar-step {
  text-align: center;
  position: relative;
  width: 100%; }

.ProgressBar-step:before, .ProgressBar-step:after {
  content: "";
  height: 0.5em;
  background-color: #DFDFDF;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: -50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all .25s ease-out; }

.ProgressBar-step:first-child:before, .ProgressBar-step:first-child:after {
  display: none; }

.ProgressBar-step:after {
  background-color: #518A50;
  width: 0%; }

.ProgressBar-step.is-complete + .ProgressBar-step.is-current:after, .ProgressBar-step.is-complete + .ProgressBar-step.is-complete:after {
  width: 100%; }

.ProgressBar-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: #DFDFDF;
  fill: #DFDFDF;
  border-radius: 50%;
  padding: 0.5em;
  max-width: 100%;
  z-index: 10;
  position: relative;
  transition: all .25s ease-out; }

.is-current .ProgressBar-icon {
  fill: #518A50;
  background-color: #518A50; }

.is-complete .ProgressBar-icon {
  fill: #DBF1FF;
  background-color: #518A50; }

.ProgressBar-stepLabel {
  display: block;
  color: #000000;
  opacity: 0.6;
  font-size: 14px;
  position: absolute;
  padding-top: 0.5em;
  width: 100%;
  transition: all .25s ease-out; }

.is-current > .ProgressBar-stepLabel, .is-complete > .ProgressBar-stepLabel {
  color: #518A50; }

.div-paket {
  height: 300px;
  width: 200px;
  float: left;
  border-radius: 5px 5px 0px 0px; }

.border-starter {
  border: 1px solid #508A88; }

.border-premium {
  border: 1px solid #518A50; }

.border-enterprise {
  border: 1px solid #50528A; }

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.flex {
  display: flex; }

.flex-column {
  flex-flow: column; }

.flex-nowrap {
  flex-wrap: nowrap; }

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.vertical-align-center {
  display: flex;
  justify-content: center;
  align-items: center; }

.starter-label {
  height: 40px;
  color: white;
  background-color: #508A88; }

.premium-label {
  height: 40px;
  color: white;
  background-color: #518A50; }

.enterprise-label {
  height: 40px;
  color: white;
  background-color: #50528A; }

.list-paket {
  padding: 10px 20px; }

.m-0 {
  margin: 0 !important; }

.m-b-5 {
  margin-bottom: 5px !important; }

.m-b-10 {
  margin-bottom: 10px !important; }

.m-b-50 {
  margin-bottom: 50px !important; }

.skin-blue p, .skin-blue li, .skin-blue dl, .skin-blue blockquote, .skin-blue table, .skin-blue kbd {
  font-size: 1em !important; }

.home p, .home li, .home dl, .home blockquote, .home table, .home kbd {
  font-size: 1em !important; }

.home .top-nav li a {
  font-size: 1em !important; }

.home .line, .home .size-1280 .grid {
  max-width: 115rem !important; }

.tema p, .tema li, .tema dl, .tema blockquote, .tema table, .tema kbd {
  font-size: 1em !important; }

.tema .top-nav li a {
  font-size: 1em !important; }

.tema .line, .tema .size-1280 .grid {
  max-width: 115rem !important; }
