fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.well-legend {
  display: block;
  font-size: 14px;
  width: auto;
  padding: 2px 7px 2px 5px;
  margin-bottom: 20px;
  line-height: inherit;
  color: #333;
  background: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.skin-blue .main-sidebar{
  background-color: #DCE1EE;
}
.bold{
  font-weight: bold;
}
.skin-blue .main-header .logo{
  background-color: #DCE1EE;
  color: #15BFAE;
}
.skin-blue .main-header .navbar{
  background-color: #EDEFF2;
  color: #15BFAE;
}
.skin-blue .sidebar-menu>li.header {
  background: #DCE1EE;
}
.skin-blue .sidebar-menu>li>.treeview-menu {
  background: #DCE1EE;
}
.skin-blue .wrapper {
  background: #DCE1EE;
}
.skin-blue .main-sidebar, .skin-blue .left-side {
  background: #DCE1EE;
}
.skin-blue .treeview-menu>li.active>a, .skin-blue .treeview-menu>li>a:hover {
  color: #15BFAE;
}
.skin-blue .user-panel>.info, .skin-blue .user-panel>.info>a {
  color: #15BFAE;
}
input {
  background-color: white !important;
}
a {
  color: #15BFAE;
}
.skin-blue .content-header {
  background: #EDEFF2;
  color: #15BFAE !important;
}
.content {
  background: #EDEFF2;
}
.logo-2{
  width: 113px;
  height: auto;
}
section.sidebar{
  margin-top:42px;
}
.sidebar-menu> li:hover {
  background: #EEF2F6 !important;
  color: #0FB2AB;
}

.sidebar-menu> li > a{
  padding-top: 8%;
  height: 56px;
  color: #15BFAE !important;
}
.sidebar-menu> li > a:hover{
  background: #EEF2F6 !important;
  color: #0FB2AB !important;
}
.sidebar-menu> li.active > a{
  background: #EEF2F6 !important;
  color: #0FB2AB !important;
}
.skin-blue .sidebar-menu>li.active>a {
  border-left-color: #09952F !important;
}
table.dataTable thead tr {
  background-color: #000;
  color: #fff;
  height: 15px;
  font-size: 12px;
}

table.dataTable{
  border-collapse: separate;
  border-spacing: 0 1em;
  border-left: 0px;
  border-right: 0px;
}

table.dataTable thead tr th {
  text-align: center;
}
table.dataTable tbody tr {
  height: 68px;
}
table.dataTable tbody tr td{
  padding-top: 20px;
  text-align: center;
}

table.dataTable tbody tr td:first-child {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-left: 1px solid #F1EFEF !important;
}
table.table-bordered.dataTable tbody th, table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px;
}
table.dataTable tbody tr td:last-child {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-right: 1px solid #F1EFEF !important;
}


.content-wrapper {
    background-color: #fff;
}
.box{
  border:0px;
  box-shadow:0 0px 0px;
}
input[type=search]{
  border-radius: 10px;
}
.main-footer {
    border-top: 0px;
}
