@mixin gradient-gen($color1, $color2) {
	background: $color1;
	background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
	background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
	background: linear-gradient(to top, $color1 0%, $color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color1',GradientType=1 );
}

@mixin box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}
@mixin box-shadow($properties) {
	-webkit-box-shadow: $properties;
	-moz-box-shadow: $properties;
	-o-box-shadow: $properties;
	box-shadow: $properties;
}

@mixin border-radius($size) {
	-webkit-border-radius: $size;
	-moz-border-radius: $size;
	-o-border-radius: $size;
	border-radius: $size;
}

@mixin transition($properties) {
	-webkit-transition: $properties;
	-moz-transition: $properties;
	-o-transition: $properties;
	transition: $properties;
}

@mixin clearfix {
	&:after {
		display: block;
		content: " ";
		clear: both;
		float: none;
	}
}

@mixin border-radius($value) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}

@mixin flex-center-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

@mixin flexbox-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@mixin justify-content($value) {
	-webkit-box-pack: $value;
	-ms-flex-pack: $value;
	justify-content: $value;
}
@mixin align-items($value) {
	-webkit-box-align: $value;
	-ms-flex-align: $value;
	align-items: $value;
}

@mixin font-primary() {
	font-family: "Rubik", sans-serif;
}

@mixin font-heading() {
	font-family: "Rubik", sans-serif;
}
