@import "mixin";
@import "font";
$green: #508a88;
body {
  @include font-primary();
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  &.show-menu {
    overflow-y: visible;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  @include font-heading();
}
.f-28 {
  font-size: 28px;
}
.block {
  display: block;
}
.hide {
  display: none;
}
.footer-desktop {
  display: block;
  padding-left: 45px;
  padding-right: 45px;
}
.footer-mobile {
  display: none;
}
.margin-wa {
  position: fixed;
  width: 90%;
  // bottom: 0;
}
// .menu-tab.menu_green{
//   // color : #56CAD8;
//   color: #0B877E;
//   border-bottom: 2px solid #0B877E;
//   font-weight: bold;
// }
.menu-tab.active {
  color: #0b877e;
  border-bottom: 2px solid #0b877e;
  font-weight: 600;
}
#nprogress .bar {
  z-index: 9999;
}

#syarat-ketentuan {
  // height: 500px;
  width: 100%;
  // overflow: auto;
  padding-left: 15px;
}
.line-preview {
  padding: 0;
  margin: 0 auto;
  height: 100%;
}
.shadow-button {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}
.choosen {
  color: #fff;
}
.sc-kkGfuU.hCTFIu:hover .loop {
  display: block;
  z-index: 9999;
}
.sc-kkGfuU.hCTFIu:hover img {
  opacity: 0.5;
}
.loop {
  display: block;
  position: absolute;
  margin-left: 60px;
  margin-top: 90px;
}
.div-langgan-logo {
  padding-top: 15px;
  padding-left: 10px;
}
.img-langgan-logo {
  width: 171px;
  height: 30.24px;
  object-fit: contain;
}

#nprogress {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 9999;
  .spinner {
    pointer-events: none;
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}
.center {
  text-align: center;
}
.default-a {
  text-decoration: underline;
  color: blue;
  margin-top: 30px;
  cursor: pointer;
}
.MuiStepIcon-root.MuiStepIcon-completed {
  color: #518a50 !important;
}
.MuiTypography-root p {
  font-size: 12px !important;
  text-align: left !important;
  line-height: 11px !important;
}
.MuiTypography-body2 {
  font-size: 1.875rem !important;
}
.MuiStepIcon-root.MuiStepIcon-active {
  color: #518a50 !important;
}
.right {
  text-align: right;
}

.hidden {
  display: none;
}
.sc-bdVaJa .cmiqwn {
  font-size: 15px;
}
.img-sosmed {
  transform: scale(1.12);
  margin-left: -24px;
  margin-right: 8px;
}
.img-google {
  transform: scale(1.12);
  margin-left: -43px;
  margin-right: 7px;
}
.btn:hover,
.btn:focus {
  box-shadow: none;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.inline-content {
  display: inline-block;
}

.img-responsive {
  margin: 0 auto;
  text-align: center;
}

.auto-margin {
  margin: 0 auto;
}

.block {
  display: block;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.relative {
  position: relative;
}

.no-border {
  border: 0;
}

.uppercase {
  text-transform: uppercase;
}

.float-align-left {
  float: left;
}

.float-align-right {
  float: right;
}
.wrapper-image {
  display: inline-block;
  height: 100%;
  cursor: pointer;
  position: relative;
}
.label-tema {
  margin-left: 10px;
  position: absolute;
  bottom: 10px;
  background-color: rgba(21, 191, 174, 0.3);
  width: 89.5%;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;

  font-size: 20px;
}

.buttonLoginStyle {
  color: #0b877e;
  border: 2px solid #0b877e;
  padding: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 20px;
  -webkit-transition: padding 365ms;
  transition: padding 365ms;
}
.buttonLoginStyle:hover {
  padding-left: 20px;
  padding-right: 20px;
}

/*
* FLEX CONTAINER
*/

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex {
  display: flex;
}

.flex-column {
  flex-flow: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.align-items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.align-items-start {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}

.align-items-end {
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}

.vertical-item--center {
  @extend .flex-container;
  @extend .align-items-center;
}

.vertical-item--top {
  @extend .flex-container;
  @extend .align-items-start;
}

.vertical-item--justify {
  @extend .flex-container;
  @extend .flex-start;
}

.horizontal-item--start {
  @extend .flex-container;
  @extend .flex-center;
  @extend .align-items-start;
}

.horizontal-item--around {
  @extend .flex-container;
  @extend .flex-around;
  @extend .align-items-center;
}

.horizontal-item--between {
  @extend .flex-container;
  @extend .flex-between;
  @extend .align-items-center;
}
.read-more-notif {
  background: #fff;
  font-size: 12px;
  border: 0px;
  color: #5683c1;
  text-align: center;
}
.unread {
  color: red;
}
.link-notif {
  background: #fff !important;
  border: 3px solid #e6e6e6;
  width: 200px;
  height: 60px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 9px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #dd4b39;
  border-radius: 10px;
  margin-top: -20px;
}
.horizontal-item--center {
  @extend .flex-container;
  @extend .flex-center;
  @extend .align-items-center;
}
.vertical-item--between {
  @extend .flex;
  @extend .flex-column;
  @extend .flex-between;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-center {
  align-self: center;
}

.flex-initial {
  flex: initial;
}

.flex-1 {
  flex: 1;
}

.flex-inherit {
  flex: inherit;
}

.flex-row {
  flex-flow: row;
}

.f-20 {
  font-size: 20px;
}

.div-atau {
  width: 100%;
  height: 13px;
  border-bottom: 1px solid #979797;
  text-align: center;
  span {
    font-size: 16px;
    background-color: #ffffff;
    padding: 0 10px;
  }
}

.show {
  display: block !important;
}

.background-white {
  background-color: #ffffff;
}

nav {
  padding: 0.825rem 0;
}
#first-block,
#second-block,
#third-block,
#fifth-block,
#pilihpaket-block {
  padding: 4.5rem 0;
}
#carousel {
  background: #f8f8f8;
}
.nav-fixed {
  .line {
    // padding: 0 2.5rem;
  }
}
#first-block {
  background: #f1ffff;
  background: linear-gradient(to bottom, #ffffff, #f1ffff);
  padding-top: 5 rem;
  height: 806px;
  // background-repeat: no-repeat;
  // background-position: 90% 30%;
  // background-size: 583px;
  // height: 500px;
  .line {
    background-image: url(../svg/section_1.png);
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 606px;
    height: 100%;
    object-fit: contain;
  }

  article {
    padding-top: 131px;
    padding-left: 45px;

    h2{
      font-size: 32px;
      font-weight: 400;
    }
  }
  .buttonMulaiSekarang {
    -webkit-transition: width 565ms;
    transition: width 565ms;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 2px solid #0b877e;
    border-radius: 30px;
    margin-top: 70px;
    width: 200px;
  }
  .buttonMulaiSekarang:hover {
    width: 240px;
  }
}

#section-next-first-block {
  background: #f1ffff;
  height: 475px;
  h2 {
    text-align: center;
    color: #0b877e;
    font-size: 30px;
    @include font-primary();
    font-weight: 500;
  }
  div {
    width: 70%;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    .div1 {
      width: 25%;
      height: 80%;
      padding-top: 37px;
      float: left;
      img {
        width: 154px;
        height: 154px;
        margin-bottom: 49px;
      }
      p {
        font-size: 24px;
        @include font-primary();
      }
    }
    .div2 {
      width: 25%;
      height: 80%;
      padding-top: 37px;
      float: left;
      img {
        width: 154px;
        height: 154px;
        margin-bottom: 49px;
      }
      p {
        font-size: 24px;
        @include font-primary();
      }
    }
    .div3 {
      width: 25%;
      height: 80%;
      padding-top: 37px;
      float: left;
      img {
        width: 154px;
        height: 154px;
        margin-bottom: 49px;
        object-fit: contain;
      }
      p {
        font-size: 24px;
        @include font-primary();
      }
    }
    .div4 {
      width: 25%;
      height: 80%;
      padding-top: 37px;
      float: left;
      img {
        width: 154px;
        height: 154px;
        margin-bottom: 49px;
      }
      p {
        font-size: 24px;
        @include font-primary();
      }
    }
  }

  /*===================*/
  /* BOB
  /*===================*/

  @-webkit-keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-on-hover {
    0% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
    50% {
      -webkit-transform: translateY(-4px);
      transform: translateY(-4px);
    }
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @-webkit-keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  @keyframes bob-on-hover-float {
    100% {
      -webkit-transform: translateY(-8px);
      transform: translateY(-8px);
    }
  }
  .bob-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .bob-on-hover:hover,
  .bob-on-hover:focus,
  .bob-on-hover:active {
    -webkit-animation-name: bob-on-hover-float, bob-on-hover;
    animation-name: bob-on-hover-float, bob-on-hover;
    -webkit-animation-duration: 0.3s, 1.5s;
    animation-duration: 0.3s, 1.5s;
    -webkit-animation-delay: 0s, 0.3s;
    animation-delay: 0s, 0.3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
  }
}

#second-block {
  background: #f1ffff;
  height: 2590px;
  background-image: url(../svg/bg-anti-ribet-sec2.svg);
  background-repeat: no-repeat;
  width: 100%;
  object-fit: cover;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 15%;
  vertical-align: middle;
  background-size: 100%;

  .bob-effect-ilustrasi {
    transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    img {
      width: 100%;
      height: auto;
    }
  }
  h2 {
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    @include font-primary();
  }
  .line {
    height: 421px;
    width: 100%;
    .gambarIlustrasiSec2 {
      width: 45%;
      height: 100%;
      float: left;
    }
    .Sec2Text {
      width: 55%;
      height: 100%;
      float: left;
      padding-left: 30px;
      padding-top: 50px;
      .wrapperText {
        height: 100%;
        width: 100%;
        margin-top: 30px;
        .styleLine {
          float: left;
          width: 2%;
          height: 100%;
          margin-left: 10px;
        }
        article {
          float: left;
          width: 90%;
          h3 {
            font-size: 32px;
            margin-left: 10px;
            @include font-primary();
          }
          p {
            margin-left: 10px;
            font-size: 20px;
            @include font-primary();
          }
        }
      }
    }
  }
}

#third-block {
  background: #f1ffff;
  height: 550px;
  .line {
    background-image: url(../svg/Ilustrasi-Section-33.png);
    background-repeat: no-repeat;
    background-position: 100%;
    height: 450px;
    object-fit: contain;
  }
  article {
    padding-left: 45px;

    div {
      margin-top: 115px;
    }
  }
  h2 {
    text-align: left;
    color: black;
    font-size: 30px;
    @include font-primary();
  }
  p {
    @include font-primary();
    margin-top: 50px;
  }
  .buttonTelusuriTema {
    -webkit-transition: padding 565ms;
    transition: padding 565ms;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: #0b877e;
    border: 2px solid #0b877e;
    border-radius: 30px;
    font-weight: bold;
    font-size: 15px;
    @include font-primary();
  }
  .buttonTelusuriTema:hover {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#fourth-block {
  background: linear-gradient(to bottom, #f1ffff, #ddfff4);
  height: 633px;
  .line {
    background-image: url(../svg/ilustrasi-Hubungi-Kami2.png);
    background-repeat: no-repeat;
    background-position: 100%;
    height: 100%;
    object-fit: contain;
    background-position-y: 100%;
    article {
      margin-top: 50px;
    }
  }
  h2 {
    text-align: left;
    color: #565656;
    font-size: 40px;
    font-weight: 600;
    padding-left: 45px;
    padding-bottom: 30px;
    @include font-primary();
  }
  i {
    margin-right: 10px;
  }
  p {
    padding-left: 70px;
    color: #4a4a4a;
    @include font-primary();
  }
}

#fifth-block {
  background-image: url(../svg/Section-Melangkah-1.png);
  background-repeat: no-repeat;
  height: 814px;
  object-fit: contain;
  width: 100%;
  background-size: 100% 100%;
  h2 {
    text-align: center;
    color: #0b877e;
    font-size: 40px;
    font-weight: 500;
    @include font-primary();
  }
  button {
    background-color: #15bfae;
    border: transparent;
    color: white;
    font-size: 22px;
    height: 50px;
    width: 200px;
    border-radius: 30px;
    font-weight: bold;
    box-shadow: 4px 5px 12px -1px #29d2c1;
  }
  p {
    font-size: 24px;
    color: #565656;
    font-weight: 500;
    @include font-primary();
  }
}

#pilihpaket-block {
  background: #f1ffff;
  height: 717px;
  .wrapperPembayaran {
    width: 100%;
    height: 100%;
    .containerPembayaran1 {
      width: 65%;
      height: 100%;
      .wrapperJudulPilihPaket {
        padding-left: 45px;
        padding-bottom: 20px;
        margin: 10px;
      }
      .wrapperKeteranganPilihPaket {
        padding-left: 99px;
        margin: 10px;
      }
      h2 {
        text-align: left;
        color: black;
        font-size: 30px;
        @include font-primary();
      }
      p {
        text-align: left;
        color: #4a4a4a;
        font-size: 20px;
        margin-top: 50px;
        @include font-primary();
      }
      .contentPembayaran {
        background-image: url(../svg/background-pembayaran.svg);
        background-repeat: no-repeat;
        width: 854px;
        height: 100%;
        background-position-y: 40px;
        object-fit: cover;

        .wrapperListKeteranganPembayaran {
          width: 674px;
          height: 229px;
          margin-top: 65px;
          margin-left: 99px;
          .content1 {
            width: 224px;
            height: 100%;
            transition: all 0.2s ease-in-out;

            .imagePembayaran {
              width: 163px;
              height: 163px;
              background-image: url(../svg/icon-pembayaran-bisniskit.svg);
              text-align: center;
              float: none;
              margin: 0 auto;
              display: block;
            }

            .imagePembayaran:hover {
              background-image: url(../svg/icon-pembayaran-hover-bisniskit.svg);
            }

            p {
              background: linear-gradient(to right, #15bfae, #5ca3fa);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-weight: 500;
              margin-top: 30px;
              font-size: 20px;
              text-align: center;
            }
          }
          .content1:hover {
            transform: scale(1.1);
          }

          .content2 {
            width: 224px;
            height: 100%;
            transition: all 0.2s ease-in-out;

            .imagePembayaran {
              width: 163px;
              height: 163px;
              background-image: url(../svg/icon2-pembayaran-bisniskit.svg);
              text-align: center;
              float: none;
              margin: 0 auto;
              display: block;
            }

            .imagePembayaran:hover {
              background-image: url(../svg/icon2-pembayaran-hover-bisniskit.svg);
            }
            p {
              background: linear-gradient(to right, #15bfae, #5ca3fa);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-weight: 500;
              font-weight: 500;
              margin-top: 30px;
              font-size: 20px;
              text-align: center;
            }
          }
          .content2:hover {
            transform: scale(1.1);
          }

          .content3 {
            width: 224px;
            height: 100%;
            transition: all 0.2s ease-in-out;

            .imagePembayaran {
              width: 163px;
              height: 163px;
              background-image: url(../svg/icon3-pembayaran-bisniskit.svg);
              text-align: center;
              float: none;
              margin: 0 auto;
              display: block;
            }

            .imagePembayaran:hover {
              background-image: url(../svg/icon3-pembayaran-hover-bisniskit.svg);
            }

            p {
              background: linear-gradient(to right, #15bfae, #5ca3fa);
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              font-weight: 500;
              font-weight: 500;
              margin-top: 30px;
              font-size: 20px;
              text-align: center;
            }
          }
          .content3:hover {
            transform: scale(1.1);
          }
        }
      }
    }
    .containerPembayaran2 {
      width: 35%;
      height: 100%;
      .wrapperJangkaWaktu {
        padding-top: 150px;

        p {
          text-align: left;
          color: #4a4a4a;
          font-size: 20px;
          font-weight: bold;
          margin-bottom: 20px;
          padding-left: 20px;
          @include font-primary();
        }

        .content1 {
          width: 385px;
          height: 97px;
          margin-bottom: 20px;

          p {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
            @include font-primary();
          }
          .subContentPembayaran {
            background: linear-gradient(to right, #d1c7ff, #a6d5ff);
            width: 380px;
            height: 59px;
            border-radius: 50px;
            box-shadow: 4px 5px 10px -1px #a6d5ff;
            cursor: pointer;

            .sub1 {
              width: 70%;
              height: 100%;
              padding-left: 25px;
              padding-top: 10px;
              p {
                color: #ffffff;
                font-weight: bold;
                font-size: 23px;
                @include font-primary();
              }
            }
            .sub2 {
              width: 30%;
              height: 100%;
              padding-top: 5px;
              padding-right: 5px;
              .buttonPilih {
                background-image: url(../svg/arrowPembayaran1.svg);
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
                background-color: #ffffff;
                border-radius: 24px;
                display: inline-block;
                background-position: 60% 50%;
                background-repeat: no-repeat;
                -webkit-transition: width 565ms;
                transition: width 565ms;
                cursor: pointer;
              }
              .buttonPilih:hover {
                background-image: url(../svg/textPilihPembayaran1.svg);
                width: 100px;
                border-radius: 24px;
                -moz-border-radius: 24px;
                -webkit-border-radius: 24px;
                background-position: 50% 50%;
              }
            }
          }
          .subContentPembayaran:hover {
            .buttonPilih {
              background-image: url(../svg/textPilihPembayaran1.svg);
              background-repeat: no-repeat;
              height: 50px;
              width: 100px;
              background-color: #ffffff;
              border-radius: 24px;
              display: inline-block;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              -webkit-transition: width 565ms;
              transition: width 565ms;
              cursor: pointer;
              border-radius: 24px;
              -moz-border-radius: 24px;
              -webkit-border-radius: 24px;
            }
          }
        }
        .content2 {
          width: 385px;
          height: 97px;

          p {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
          }
          .subContentPembayaran {
            background: linear-gradient(to right, #ffbba9, #ff96a9);
            width: 380px;
            height: 59px;
            border-radius: 50px;
            // box-shadow: 0 6px 3px -3px rgba(0,0,0,0.4);
            box-shadow: 4px 5px 10px -1px #ffbba9;
            cursor: pointer;
            .sub1 {
              width: 70%;
              height: 100%;
              padding-left: 25px;
              padding-top: 10px;
              p {
                color: #ffffff;
                font-weight: bold;
                font-size: 23px;
              }
            }
            .sub2 {
              width: 30%;
              height: 100%;
              padding-top: 5px;
              padding-right: 5px;
              div {
                background-image: url(../svg/arrowPembayaran2.svg);
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
                background-color: #ffffff;
                border-radius: 24px;
                display: inline-block;
                background-position: 60% 50%;
                background-repeat: no-repeat;
                -webkit-transition: width 565ms;
                transition: width 565ms;
                cursor: pointer;
              }
              div:hover {
                background-image: url(../svg/textPilihPembayaran2.svg);
                width: 100px;
                border-radius: 24px;
                -moz-border-radius: 24px;
                -webkit-border-radius: 24px;
                background-position: 50% 50%;
              }
            }
          }
          .subContentPembayaran:hover {
            .buttonPilih {
              background-image: url(../svg/textPilihPembayaran2.svg);
              background-repeat: no-repeat;
              height: 50px;
              width: 100px;
              background-color: #ffffff;
              border-radius: 24px;
              display: inline-block;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              -webkit-transition: width 565ms;
              transition: width 565ms;
              cursor: pointer;
              border-radius: 24px;
              -moz-border-radius: 24px;
              -webkit-border-radius: 24px;
            }
          }
        }
        .content3 {
          width: 385px;
          height: 97px;

          p {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 8px;
          }
          .subContentPembayaran {
            background: linear-gradient(to right, #88bbff, #565cc5);
            width: 380px;
            height: 59px;
            border-radius: 50px;
            box-shadow: 4px 5px 10px -1px #88bbff;
            cursor: pointer;

            .sub1 {
              width: 70%;
              height: 100%;
              padding-left: 25px;
              padding-top: 10px;
              p {
                color: #ffffff;
                font-weight: bold;
                font-size: 23px;
              }
            }
            .sub2 {
              width: 30%;
              height: 100%;
              padding-top: 5px;
              padding-right: 5px;
              div {
                background-image: url(../svg/arrowPembayaran3.svg);
                background-repeat: no-repeat;
                height: 50px;
                width: 50px;
                background-color: #ffffff;
                border-radius: 24px;
                display: inline-block;
                background-position: 60% 50%;
                background-repeat: no-repeat;
                -webkit-transition: width 565ms;
                transition: width 565ms;
                cursor: pointer;
              }
              div:hover {
                background-image: url(../svg/textPilihPembayaran3.svg);
                width: 100px;
                border-radius: 24px;
                -moz-border-radius: 24px;
                -webkit-border-radius: 24px;
                background-position: 50% 50%;
              }
            }
          }
          .subContentPembayaran:hover {
            .buttonPilih {
              background-image: url(../svg/textPilihPembayaran3.svg);
              background-repeat: no-repeat;
              height: 50px;
              width: 100px;
              background-color: #ffffff;
              border-radius: 24px;
              display: inline-block;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              -webkit-transition: width 565ms;
              transition: width 565ms;
              cursor: pointer;
              border-radius: 24px;
              -moz-border-radius: 24px;
              -webkit-border-radius: 24px;
            }
          }
        }
      }

      @media only screen and (max-width: 1280px) {
        .wrapperJangkaWaktu {
          padding-top: 150px;
          padding-left: 49px;

          .content1 {
            div {
              width: 340px;
            }
          }
        }
      }
    }
  }
}

#tema-header-block {
  background: #fff;
  height: 300px;
  padding: 12rem 0;
  input {
    border: 0;
    padding: 0 5px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    width: 225px;
    height: 35px;
  }
  h2 {
    color: black;
    font-size: 28px;
    font-weight: bold;
  }
  p {
    font-size: 20px !important;
  }
}
#tema-domain-block {
  background: #fff;
  height: auto;
  padding: 4.5rem 0;
}
#tema-block {
  background: #f7ffff;
  background-image: url(../img/bg-pattern.png);
  background-repeat: repeat;
  height: auto;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}
#tema-preview {
  background: transparent;
  height: 100%;
}

#tema-detail-block {
  background: #f7ffff;
  background-image: url(../img/bg-pattern.png);
  background-repeat: repeat;
  height: auto;
  padding: 4.5rem 0;
}
#step-nav-block {
  background: #f7ffff;
  background-image: url(../img/bg-pattern.png);
  background-repeat: repeat;
  height: auto;
  padding: 4.5rem 0;
}
#tema-lupa-psw-block {
  background: #fff;
  height: 75vh;
  padding: 10rem 0;
}
#kebijakan-privasi-block {
  background: #fff;
  // height: 711px;
  padding: 10rem 0;
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}
#faq-block {
  background: #fff;
  // height: 711px;
  padding: 10rem 0;
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  h2 {
    margin: 20px auto;
  }
  label {
    font-size: 14px;
    color: black;
    margin: 10px auto;
  }
  p {
    font-size: 14px !important;
  }
  a {
    color: blue;
    text-decoration: underline;
  }
  ul {
    padding-left: 3.5rem;
  }
  li {
    font-size: 14px !important;
  }
  ol {
    padding-left: 3.5rem;
  }
}
#syarat-domain-block {
  background: #fff;
  // height: 711px;
  margin-top: -10px;
  h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;
  }
}
header {
  .nav-fixed {
    position: fixed;
    z-index: 1;
    padding-left: 45px;
    padding-right: 45px;
    .menu-tab:hover {
      background: #fff !important;
      color: #0b877e !important;
    }
    .line-bound:hover {
      color: rgba(0, 0, 0, 0.6) !important;
      background: transparent !important;
    }
  }
  .dropdown-menu {
    background: white !important;
    color: black;
    min-width: 100% !important;
    a {
      background: white !important;
    }
    a:hover {
      background: #508a88 !important;
    }
  }
  .navBarBlogMargin {
    margin-right: 27px;
  }
  .navBarMargin {
    margin-left: 21px;
  }
}
footer {
  background: #2b3332;
  padding: 20px 0;
  color: white;
  .input-email-subscribe {
    width: 214px !important;
    height: 30px;
    font-size: 14px !important;
    background-color: white;
    color: #000;
    border: 1px solid black;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px 10px !important;
  }
  .social-btn-div {
    a {
      width: 25px;
      height: 25px;
      background-color: white;
      border-radius: 15px;
      color: black;
      font-size: 12px;
      padding: 3px;
      margin-right: 10px;
    }
    a:visited {
      color: black;
    }
  }
  .btn-subscribe {
    width: 80px;
    height: 30px;
    background: #508a88;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
    font-size: 14px;
    padding: 2px 5px;
    margin-left: 5px;
  }
  a {
    color: white;
    cursor: pointer;
  }
  a:visited {
    color: white;
  }
  a:hover {
    color: #15bfae !important;
  }
  p {
    font-size: 16px !important;
  }
  hr {
    border-color: rgba(255, 255, 255, 0.6);
  }
  .copyright {
    color: rgba(255, 255, 255, 0.6);
    a {
      color: rgb(255, 255, 255);
    }
  }
}
.starter {
  height: 416px;
  width: 315px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  border-top: 20px solid #508a88;
  color: #508a88;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  ul {
    text-align: left;
    li {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .div-header-paket {
    label {
      font-size: 24px;
      line-height: 33px;
      font-weight: normal;
    }
  }
  hr {
    border-top: 1px solid black;
  }
  .div-harga {
    label {
      color: rgba(0, 0, 0, 0.87);
      font-weight: normal;
      font-size: 26px;
    }
  }
  button {
    border: 2px solid #508a88;
    color: #508a88;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
}
.premium {
  position: relative;
  height: 416px;
  width: 315px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  border-top: 20px solid #518a50;
  color: #518a50;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  img {
    position: absolute;
    top: -24px;
    right: -6px;
  }
  ul {
    text-align: left;
    li {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .div-header-paket {
    label {
      font-size: 24px;
      line-height: 33px;
      font-weight: normal;
    }
  }
  hr {
    border-top: 1px solid black;
  }
  .div-harga {
    label {
      color: rgba(0, 0, 0, 0.87);
      font-weight: normal;
      font-size: 26px;
    }
  }
  button {
    border: 2px solid #518a50;
    color: #518a50;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
}
.enterprise {
  position: relative;
  height: 416px;
  width: 315px;
  max-width: 100%;
  border-radius: 10px 10px 0 0;
  border-top: 20px solid #50528a;
  color: #50528a;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  img {
    position: absolute;
    top: -24px;
    right: -6px;
  }
  ul {
    text-align: left;
    li {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .div-header-paket {
    label {
      font-size: 24px;
      line-height: 33px;
      font-weight: normal;
    }
  }
  hr {
    border-top: 1px solid black;
  }
  .div-harga {
    label {
      color: rgba(0, 0, 0, 0.87);
      font-weight: normal;
      font-size: 26px;
    }
  }
  button {
    border: 2px solid #50528a;
    color: #50528a;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  }
}

.container-form-modal {
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 100%;
    font-size: 20px;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 0;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
    outline: none;
  }
}

.div-nav-tab {
  input[type="text"] {
    border: 1px solid #518a50;
    border-radius: 5px;
    padding: 5px;
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  select {
    width: auto;
    margin-left: 5px;
    height: 37px;
    font-size: 16px;
    padding: 0 5px;
    border: 1px solid #518a50;
    background-color: white;
    color: #518a50;
    border-radius: 5px;
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}

/* Set a style for all buttons */
button {
  background-color: #508a88;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
  font-size: 22px;
  border-radius: 5px;
  &.disabled {
    background-color: #919191 !important;
  }
}

button:hover {
  opacity: 0.8;
}

.btn-cari {
  width: 71px;
  height: 35px;
  font-size: 14px;
  padding: 0;
  margin-left: 5px;
}

.btn-reset-password {
  margin-top: 20px;
  width: auto;
  height: 35px;
  font-size: 14px;
  padding: 0 10px;
  margin-left: 5px;
}

.input-reset-password {
  width: 300px;
  height: 30px;
  margin-left: 10px;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  background: white;
  margin-bottom: 10px;
}

.div-reset-pass {
  text-align: left;
  width: 475px;
}

.btn-offline {
  width: 100%;
  height: 37px;
  font-size: 16px;
  padding: 0;
  background-color: white;
  color: #518a50;
  border: 1px solid #518a50;
}

.btn-dashboard {
  width: 100%;
  height: 37px;
  font-size: 16px;
  padding: 0;
  background-color: #518a50;
  color: white;
}
.btn-dashboard:hover,
.btn-dashboard:visited,
.btn-dashboard:link {
  color: white !important;
}

.btn-green {
  width: auto;
  height: 37px;
  font-size: 16px;
  padding: 0 15px;
  background-color: #518a50;
  color: white;
}

.btn-kembali {
  width: auto;
  height: 30px;
  font-size: 16px;
  padding: 0 5px;
  background-color: transparent;
  color: #508a88;
  opacity: 0.87;
  &.notactive {
    opacity: 0.6;
    cursor: default;
  }
}

.btn-selanjutnya {
  width: auto;
  height: 30px;
  font-size: 16px;
  padding: 0 5px;
  background-color: transparent;
  color: #508a88;
  opacity: 0.87;
  &.notactive {
    opacity: 0.6;
    cursor: default;
  }
}

.btn-pagination {
  width: 25px;
  margin: 0 3px;
  height: 30px;
  font-size: 16px;
  padding: 0;
  background-color: #c4f0f0;
  color: #508a88;
  &.active {
    background-color: #508a88;
    color: white;
    cursor: default;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.5);
  }
  border-radius: 5px;
}

.dot-pagination {
  color: #508a88;
  margin: 0 5px;
  vertical-align: bottom;
}

.btn-white {
  width: auto;
  height: 37px;
  font-size: 18px;
  padding: 0 5px;
  border: 1px solid #518a50;
  background-color: white;
  color: #518a50;
}

.btn-white-new {
  width: auto;
  height: 37px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #15bfae;
  background-color: white;
  color: #15bfae;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.btn-hubungi-wa {
  padding-top: 8px;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff !important;
  border-radius: 50px !important;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999 !important;
  z-index: 100;
}

.btn-subscribe {
  width: 100%;
  height: 37px;
  font-size: 16px;
  padding: 0;
  background-color: #518a50;
  color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 0px 0;
  position: relative;
  font-size: 24px;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 10px 40px;
}

.container-form-modal {
  width: auto;
}

span.psw {
  float: right;
  color: black;
  cursor: pointer;
}

.div-login {
  text-align: center;
  margin-top: 10px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1006; /* Sit on top */
  left: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 0px;
  &.profile {
    overflow: auto;
  }
}
.modal-login {
  top: 30px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
.modal-content-login {
  background-color: #fefefe;
  margin-top: 95px;
  margin-right: auto;
  margin-left: -1px;
  width: 350px; /* Could be more or less, depending on screen size */
  height: auto;
  display: inline-block;
  z-index: 10000;
  .span-error {
    color: red;
    font-size: 14px;
  }
}

.modal-content-register {
  background-color: #fefefe;
  // margin: 2% auto 0% auto;
  width: 350px;
  height: auto;
  // position: absolute;
  // display: inline-block;
  display: inline;
  margin-top: 95px;
  z-index: 10000;
  .span-error {
    color: red;
    font-size: 13px;
    float: left;
    text-align: left;
  }
}
.button-close {
  width: 40px;
  height: 45px;
  background: transparent;
  border: 4px solid #15bfae;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  display: inline-block;
  &:after {
    width: 24px;
    height: 4px;
    background-color: #15bfae;
    content: "";
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -2px;
    position: absolute;
    transform: rotate(-45deg);
    /*@include transform-origin(100%,100%);*/
  }
  &:before {
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -2px;
    width: 24px;
    height: 4px;
    background-color: #15bfae;
    content: "";
    position: absolute;
    transform: rotate(45deg);
    /*@include transform-origin(0%,0%);*/
  }
  & + p {
    text-transform: lowercase;
    font-size: 14px;
    margin-bottom: 10px;
  }
}
.modal-content-tema {
  background-color: #f7ffff;
  background-image: url(../img/bg-pattern.png);
  background-repeat: repeat;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 0px;
  .div-tema-content {
    margin-top: 30px;
    padding: 0 100px;
    text-align: left;
    label {
      color: rgba(0, 0, 0, 0.38);
      font-weight: normal;
      font-size: 14px;
    }
    .form-control {
      background: #f7f7f7;
      border: 1px solid #dfdfdf;
      border-radius: 3px !important;
    }
    select {
      width: 125px;
      height: 37px;
      display: inline;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }
  }
}
.modal-content-link {
  background: transparent;
  border: 1px solid #888;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 0px;
  .div-tema-content {
    margin-top: 30px;
    padding: 0 100px;
    text-align: left;
    label {
      color: rgba(0, 0, 0, 0.38);
      font-weight: normal;
      font-size: 14px;
    }
    .form-control {
      background: #f7f7f7;
      border: 1px solid #dfdfdf;
      border-radius: 3px !important;
    }
    select {
      width: 125px;
      height: 37px;
      display: inline;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }
  }
}
iframe {
  border: 0px;
  height: 100%;
}
.modal-content-preview {
  background: transparent;
  width: 100%;
  height: 100%;
  display: inline-block;
  margin-top: 0px;
  position: relative;
  .div-tema-content {
    position: absolute;
    margin-top: 0px;
    padding: 0 10px;
    text-align: left;
    right: 20px;
    label {
      color: rgba(0, 0, 0, 0.38);
      font-weight: normal;
      font-size: 14px;
    }
    .form-control {
      background: #f7f7f7;
      border: 1px solid #dfdfdf;
      border-radius: 3px !important;
    }
    select {
      width: 125px;
      height: 37px;
      display: inline;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }
  }
}
.modal-content-profile {
  background-color: #fefefe;
  border: 1px solid #888;
  position: relative;
  width: 471px;
  height: auto;
  display: inline-block;
  margin-top: 1%;
  .btn-close-modal {
    background-color: transparent;
    color: #333;
    font-size: 20px;
    position: absolute;
    right: 1px;
    width: 40px;
    height: 40px;
    padding: 0px;
    text-align: center;
    margin-top: 0px;
    top: 3px;
    &:focus {
      box-shadow: none;
    }
  }
  .div-profile-preview {
    padding: 40px;
    padding-bottom: 5px;
    .div-image {
      position: relative;
      display: inline-block;
      margin-right: 25px;
      img {
        display: inline;
        width: 120px;
        height: 120px;
        object-fit: cover;
        border-radius: 60px;
      }
      .label-upld {
        background-color: #000;
        color: #fff;
        font-size: 12px;
        padding: 4px 10px;
        position: absolute;
        bottom: 0px;
        left: 16px;
        border: 1px solid #555;
        cursor: pointer;
      }
    }
    .div-name {
      text-align: left;
      display: inline-block;
      padding-top: 5px;
      label {
        font-size: 22px;
        color: #333;
        text-transform: capitalize;
        font-weight: 400;
      }
      p {
        font-size: 14px;
      }
      .status {
        padding: 5px;
        background: #ab5757;
        border-radius: 5px;
        color: white;
        font-size: 14px;
      }
    }
  }
  .div-email {
    text-align: left;
    margin-left: 17%;
    font-size: 12px;
  }
  .div-form-profile {
    margin-top: 30px;
    padding: 0 70px;
    text-align: left;
    label {
      color: rgba(0, 0, 0, 0.699);
      font-weight: normal;
      font-size: 13px;
      font-weight: 600;
    }
    .form-group {
      margin-bottom: 10px;
    }
    .form-control {
      background: #fff;
      border: 1.5px solid #a7a7a7 !important;
      border-radius: 3px !important;
    }
    .form-control:not(textarea) {
      height: 40px;
    }
    .btn.btn-md {
      height: 40px;
      width: unset;
    }
    select.form-control {
      width: 100%;
      display: inline;
      font-size: 12px;
      background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
        no-repeat right 0.75rem center/8px 10px;
      background-color: rgba(0, 0, 0, 0);
      background-color: #fff;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      padding-left: 7px;
      padding-right: 20px;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }
  }
  .div-login {
    padding-bottom: 10px;
    .btn-submit {
      width: 81px;
      height: 40px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      font-size: 16px;
      padding: 8px 12px 8px 15px;
      font-weight: normal;
    }
  }
}

.modal-content-kupon {
  background-color: #fefefe;
  // margin: 2% auto 0% auto;
  border: 1px solid #888;
  width: 471px;
  height: auto;
  // position: absolute;
  // display: inline-block;
  display: inline-block;
  margin-top: 1%;
  // margin-left: -23%;
  .div-profile-preview {
    padding: 30px 80px;
    padding-bottom: 5px;
    .div-image {
      display: inline-block;
      img {
        display: inline;
      }
    }
    .div-name {
      text-align: left;
      display: inline-block;
      padding-top: 5px;
      label {
        font-size: 18px;
        font-weight: bold;
      }
      p {
        font-size: 14px;
      }
      .status {
        padding: 5px;
        background: #ab5757;
        border-radius: 5px;
        color: white;
        font-size: 14px;
      }
    }
  }
  .div-email {
    text-align: left;
    margin-left: 17%;
    font-size: 12px;
  }
  .div-form-profile {
    margin-top: 30px;
    padding: 0 30px;
    text-align: left;
    label {
      color: rgba(0, 0, 0, 0.38);
      font-weight: normal;
      font-size: 14px;
    }
    .form-control {
      background: #f7f7f7;
      border: 1px solid #dfdfdf;
      border-radius: 3px !important;
    }
    select {
      width: 125px;
      height: 37px;
      display: inline;
    }
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type="number"] {
      -moz-appearance: textfield; /* Firefox */
    }
  }
  .div-login {
    padding-bottom: 10px;
    .btn-submit {
      width: 81px;
      height: 40px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
      font-size: 16px;
      padding: 8px 12px 8px 15px;
      font-weight: normal;
    }
  }
}

.modal-agreement {
  background-color: #ffffff;
  // margin: 2% auto 0% auto;
  // border: 1px solid #888;
  width: 800px;
  height: 505px;
  // box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
  // position: absolute;
  // display: inline-block;
  display: inline-block;
  margin-top: 5%;
  padding: 25px 25px;
  // margin-left: -23%;
  .div-label {
    text-align: left;
    label {
      font-size: 22px;
      color: rgba(0, 0, 0, 0.87);
      font-weight: normal;
    }
  }
  .div-p {
    margin-top: 20px;
    overflow-y: auto;
    height: 310px;
    p {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      opacity: 0.6;
      width: 732px;
      text-align: justify;
    }
  }
  .div-button {
    margin-top: 30px;
    .btn-white {
      border: 0;
      background-color: #ffffff;
      border-radius: 5px;
      box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
      width: 87px;
      height: 40px;
    }
    .btn-green {
      border: 0;
      background-color: #508a88;
      border-radius: 5px;
      box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
      width: 112px;
      height: 40px;
    }
  }
}

.modal-berhasil {
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
  width: 506px;
  height: 415px;
  display: inline-block;
  margin-top: 5%;
  padding: 25px 25px;
  // margin-left: -23%;
  .div-label {
    text-align: center;
    label {
      font-size: 22px;
      color: rgba(0, 0, 0, 0.87);
      font-weight: normal;
    }
  }
  .div-img {
    text-align: center;
    margin-top: 20px;
    // margin-bottom: 10px;
    img {
      display: inline;
    }
  }
  .div-p {
    margin-top: 30px;
    height: auto;
    p {
      color: #000000;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      opacity: 0.6;
      // width: 732px;
      text-align: justify;
    }
  }
  .div-button {
    margin-top: 30px;
    .btn-white-new {
      height: 45px;
    }
  }
}

.img-login {
  border: 0;
  display: inline;
  max-width: 100%;
  margin-top: 95px;
  margin-left: auto;
}
.img-register {
  border: 0;
  display: inline;
  height: auto;
  max-width: 100%;
  // margin-top: 2%;
  // margin-left: 48%;
  // margin-right: -59%;
  margin-top: 95px;
  width: auto;
}
.img-tema {
  display: inline;
}
.img-tema-modal {
  display: inline;
  margin-left: 10px;
  margin-bottom: 10px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 10px;
  top: -20px;
  color: #000;
  font-size: 24px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.p-t-20 {
  padding-top: 20px;
}
.p-l-40 {
  padding-left: 40px;
}
.color-langgan {
  color: #15bfae !important;
}
.bg-color-langgan {
  background-color: #508a88 !important;
}
.bg-white {
  background-color: #f1ffff;
}
.half-circle {
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
}
.bold {
  font-weight: bold;
}

.div-nav-tab {
  width: 700px;
  height: 498px;
  background: #ffffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.ProgressBar {
  margin: 0 auto;
  padding: 2em 0 3em;
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.ProgressBar-step {
  text-align: center;
  position: relative;
  width: 100%;
}
.ProgressBar-step:before,
.ProgressBar-step:after {
  content: "";
  height: 0.5em;
  background-color: #dfdfdf;
  position: absolute;
  z-index: 1;
  width: 100%;
  left: -50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  transition: all 0.25s ease-out;
}
.ProgressBar-step:first-child:before,
.ProgressBar-step:first-child:after {
  display: none;
}
.ProgressBar-step:after {
  background-color: #518a50;
  width: 0%;
}
.ProgressBar-step.is-complete + .ProgressBar-step.is-current:after,
.ProgressBar-step.is-complete + .ProgressBar-step.is-complete:after {
  width: 100%;
}

.ProgressBar-icon {
  width: 1.5em;
  height: 1.5em;
  background-color: #dfdfdf;
  fill: #dfdfdf;
  border-radius: 50%;
  padding: 0.5em;
  max-width: 100%;
  z-index: 10;
  position: relative;
  transition: all 0.25s ease-out;
}
.is-current .ProgressBar-icon {
  fill: #518a50;
  background-color: #518a50;
}
.is-complete .ProgressBar-icon {
  fill: #dbf1ff;
  background-color: #518a50;
}

.ProgressBar-stepLabel {
  display: block;
  color: #000000;
  opacity: 0.6;
  font-size: 14px;
  position: absolute;
  padding-top: 0.5em;
  width: 100%;
  transition: all 0.25s ease-out;
}
.is-current > .ProgressBar-stepLabel,
.is-complete > .ProgressBar-stepLabel {
  color: #518a50;
}

.div-paket {
  height: 300px;
  width: 200px;
  float: left;
  border-radius: 5px 5px 0px 0px;
  label {
    font-size: 18px;
    font-weight: normal;
    color: black;
  }
}
.list-paket {
  padding: 10px 20px;
  p {
    font-size: 13px;
    margin-bottom: 5px;
  }
}
.border-starter {
  border: 1px solid #508a88;
  button {
    border: 1px solid #508a88;
    color: #508a88;
  }
  &.active {
    background: #508a88;
    color: white;
    label {
      color: white;
    }
    .starter-label {
      border-bottom: 1px solid white;
    }
  }
}
.border-premium {
  border: 1px solid #518a50;
  button {
    border: 1px solid #518a50;
    color: #518a50;
  }
  &.active {
    background: #518a50;
    color: white;
    label {
      color: white;
    }
    .premium-label {
      border-bottom: 1px solid white;
    }
  }
}
.border-enterprise {
  border: 1px solid #50528a;
  button {
    border: 1px solid #50528a;
    color: #50528a;
  }
  &.active {
    background: #50528a;
    color: white;
    label {
      color: white;
    }
    .enterprise-label {
      border-bottom: 1px solid white;
    }
  }
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.flex {
  display: flex;
}

.flex-column {
  flex-flow: column;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.flex-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.flex-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.flex-around {
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.flex-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.vertical-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.starter-label {
  height: 40px;
  color: white;
  background-color: #508a88;
}
.premium-label {
  height: 40px;
  color: white;
  background-color: #518a50;
}
.enterprise-label {
  height: 40px;
  color: white;
  background-color: #50528a;
}
.m-0 {
  margin: 0 !important;
}
.m-b-5 {
  margin-bottom: 5px !important;
}
.m-l-5 {
  margin-left: 5px !important;
}
.m-l-10 {
  margin-left: 10px !important;
}
.m-t-5 {
  margin-top: 5px !important;
}
.m-t-10 {
  margin-top: 10px !important;
}
.m-t-15 {
  margin-top: 15px !important;
}
.m-t-20 {
  margin-top: 20px !important;
}
.m-r-5 {
  margin-right: 5px !important;
}
.m-r-10 {
  margin-right: 10px !important;
}
.m-b-10 {
  margin-bottom: 10px !important;
}
.m-b-20 {
  margin-bottom: 20px !important;
}
.m-b-50 {
  margin-bottom: 50px !important;
}
.skin-blue {
  p,
  li,
  dl,
  blockquote,
  table,
  kbd {
    font-size: 1em !important;
  }
}
.home {
  li,
  dl,
  blockquote,
  table,
  kbd {
    font-size: 1em;
  }
  p {
    font-size: 20px;
  }
  .top-nav li a {
    font-size: 1em !important;
  }
  .line,
  .size-1280 .grid {
    // max-width: 115rem !important;
    max-width: 100% !important;
  }
}
.paket {
  li,
  dl,
  blockquote,
  table,
  kbd {
    font-size: 1em !important;
  }
  .top-nav li a {
    font-size: 1em !important;
  }
  .line,
  .size-1280 .grid {
    max-width: 115rem !important;
  }
}
.tema {
  p,
  li,
  dl,
  blockquote,
  table,
  kbd {
    font-size: 1em !important;
  }
  .top-nav li a {
    font-size: 1em !important;
  }
  .line,
  .size-1280 .grid {
    // max-width: 115rem !important;
    max-width: 100% !important;
  }
}

.img-card-pilih-paket {
  display: inline;
}

.div-stepper {
  height: 75px;
  padding: 15px;
}

.p-20 {
  padding: 20px;
}

.f-20 {
  font-size: 20px;
}

.content-pilih {
  height: 325px;
  padding-top: 10px;
}

.table-toko-saya {
  thead tr {
    background-color: #518a50 !important;
    font-size: 16px !important;
  }
  .td-edit {
    color: #518a50 !important;
    cursor: pointer;
  }
}

.img-tema-overlay {
  position: absolute;
  top: 0;
  bottom: 15%;
  left: 9%;
  right: 0;
  height: 93%;
  width: 90%;
  display: none;
  transition: 0.3s ease;
  background-color: black;
  opacity: 0.3;
}

.wrapper-image:hover .img-tema-overlay {
  display: block;
}

.icon-magnify {
  color: white !important;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
/*invoice css*/
.bold {
  font-weight: 700;
}

.pt-24 {
  padding-top: 100px !important;
}
.pb-24 {
  padding-bottom: 100px !important;
}
.pl-16 {
  padding-left: 16px;
}
.pr-16 {
  padding-right: 16px;
}
.fs-18 {
  font-size: 18px;
}
.pb-16 {
  padding-bottom: 16px !important;
}
.pl-16 {
  padding-left: 16px;
}

.pr-16 {
  padding-right: 16px;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.fs-14 {
  font-size: 14px !important;
}
.pt-8 {
  padding-top: 8px !important;
}
.detail-store-name {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
  font-weight: 700;
  border-bottom: 1px solid #e8e8e8;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 8px;
}
.detail-box.bordered.dashed .detail-box-content {
  border-bottom-style: dashed;
}

.detail-box.detail-info-payment .detail-box-content {
  padding-top: 8px;
  padding-bottom: 16px;
}
.detail-box.bordered .detail-box-content {
  border-bottom: 1px solid rgba(49, 53, 59, 0.12);
}
.detail-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 18px;
}
.detail-item-left {
  max-width: 65%;
}
.detail-item:not(:first-of-type) {
  margin-top: 8px;
}
.detail-item .detail-item-name {
  font-weight: 700;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.detail-item .detail-item-price {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 700;
  max-width: 35%;
}
.detail__tagihan-amount {
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fe6f4d;
  font-weight: 800;
}
.black {
  color: rgba(0, 0, 0, 0.7);
}
.detail-item .detail-item-info {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.38);
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.detail-item .detail-item-price {
  color: rgba(0, 0, 0, 0.54);
  font-size: 12px;
  font-weight: 700;
  max-width: 35%;
}

.footer-mobile {
  p,
  div {
    font-size: 12px !important;
    text-align: center;
  }
  a {
    font-size: 12px;
  }
  .subscribe-mobile {
    text-align: center;
  }
  .line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

#first-block {
  article {
    width: 45%;
  }
}
#second-block {
  article {
    width: 58%;
  }
}
#third-block {
  article {
    width: 40%;
  }
}
.wrapper-card {
  display: flex;
  justify-content: space-between;
}

.card-price {
  ul {
    margin-top: 25px;
    padding-left: 20px;
    padding-right: 20px;
    li {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }
  .div-harga {
    margin-top: 27px;
  }
}

.question-tooltip {
  display: inline-block;
  position: relative;
  margin-left: 6px;
  .icn {
    cursor: help;
    font-size: 14px;
  }
  .text {
    width: 200px;
    position: absolute;
    top: -5px;
    right: -210px;
    background-color: rgba($color: #000000, $alpha: 0.7);
    color: #fff;
    padding: 7px 15px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.05), 0px 0px 15px rgba(0, 0, 0, 0.1), 0px 0px 20px rgba(0, 0, 0, 0.15);
    display: none;
    &:after {
      content: " ";
      position: absolute;
      top: 7px;
      left: -10px;
      border-right: 10px solid rgba($color: #000000, $alpha: 0.7);
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }
  }
  .icn:hover + .text {
    display: block;
  }
}

//oferride bootsraps properties

.btn.btn-block {
  width: 100% !important;
}

button.btn-dashboard {
  color: #fff;
}

.btn-md {
  height: 40px;
  line-height: 30px;
}
.checkbox,
.radio {
  input[type="checkbox"],
  input[type="radio"] {
    margin-top: 3px;
  }
}

.force-bottom {
  min-height: 80vh;
  background: #fff;
}

.force-bottom-bg {
  min-height: 100%;
  min-height: 100vh;
  min-height: calc(100vh - 262px);
  background: #f7ffff;
  background-image: url(../img/bg-pattern.png);
  background-repeat: repeat;
}

.ul-with-space li {
  padding-bottom: 10px;
}

.overlay-item {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 165px;
  width: 130px;
  display: none;
}

.item-paket:hover .overlay-item {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  height: 165px;
  width: 130px;
  display: block;
}

.color-langgan-flexible {
  color: #15bfae;
}

.member-area {
  .container {
    padding: 0px;
  }
  .force-bottom-bg {
    position: relative;
  }
}

.btn.btn-primary-outline {
  background: #fff;
  border: 2px solid #0f8f82;
  color: #15bfae;
}

.floating-alert {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 300px;
  > div:last-child {
    margin-bottom: 0px;
  }
}

.alert {
  font-size: 14px;
  border-radius: 10px !important;
  &.alert-primary {
    background: linear-gradient(to left, #d1c7ff, #b4d0ff);
  }
  &.alert-secondary {
    background: #ffb3a9;
  }
}

.control-label {
  display: block;
  text-align: left;
  font-weight: 600;
}

textarea {
  border-radius: 5px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
  border: 1px solid #dfdfdf;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #000;
  width: 50%;
}

.step-two-info {
  h3 {
    margin-bottom: 35px;
  }
  .form-group {
    margin: 0 auto;
    width: 300px;
    margin-bottom: 25px;
    input,
    textarea {
      width: 100%;
    }
  }
}

//css whatsapp pop up
.rodal-dialog{
  position: absolute;
  top: 200px;
  left: 77%;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 101;
  padding: 15px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 1384px) {
  .rodal-dialog{
    left: 73%;
  }

}
@media screen and (max-width: 1024px) {
  .rodal-dialog{
    position: absolute;
    top: 200px;
    left: 67%;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: 101;
    padding: 15px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}

@import "template-style-responsive";









//style untuk page fitur
.wrapperHeader{
  // background-image: url(../img/landingPage//fiturPage/header-fitur.png);
  // background-repeat: no-repeat;
  height: 616px;
  width: 100%;

  img{
    width: 100%;
    height: 100%;
  }
}
