@import "mixin";
@media screen and (max-width: 405px) {
  .wrapper-card .card-price .div-harga {
    margin-top: 0px !important;
  }
}

@media screen and (max-width: 1024px) {
  #section-next-first-block {
    padding-top: 60px;
    height: 440px;
    > div {
      margin: 0px;
      width: 100%;
      padding: 0px 30px;
      .div1,
      .div2,
      .div3,
      .div4 {
        width: 25%;
        height: 250px;
        img {
          height: 70px;
          margin-bottom: 20px;
          width: 70px;
        }
        p {
          font-size: 18px;
        }
      }
    }
  }
  #second-block .line {
    background-image: none;
    .Sec2Text .wrapperText article {
      padding-top: 0px;
      margin-top: -5px;
      p {
        line-height: 1.2;
      }
    }
  }
  #third-block article div {
    margin-top: 80px;
  }
  #pilihpaket-block .wrapperPembayaran {
    flex-wrap: wrap;
    .containerPembayaran1 {
      width: 100%;
      height: 505px;
      .contentPembayaran {
        width: 100%;
        width: 100vw;
        .wrapperListKeteranganPembayaran {
          margin-top: 30px;
          margin-left: 0px;
          width: 100%;
          width: 100vw;
          p {
            margin-top: 20px !important;
          }
        }
      }
    }
    .containerPembayaran2 {
      width: 100%;
      width: 100vw;
      .wrapperJangkaWaktu {
        padding-top: 20px;
        padding-left: 0px;
        @include flexbox-container;
        @include justify-content(space-around);
        flex-wrap: wrap;
        > p {
          text-align: center;
          width: 100%;
          font-weight: 600;
        }
        .content1,
        .content2,
        .content3 {
          margin: 0;
          width: 30%;
          margin-bottom: 15px;
          > p {
            margin-left: 0px;
            text-align: center;
          }
          .subContentPembayaran .sub1 p {
            font-size: 18px;
            padding-top: 7px;
            padding-left: 0px;
          }
          .subContentPembayaran {
            width: 100%;
          }
        }
      }
    }
  }
  .top-nav li .buttonLoginStyle {
    background: rgba(255, 255, 255, 0.8);
  }
  header .nav-fixed .menu-tab.active {
    color: #fff !important;
    background-color: #316462;
    border-bottom: none;
  }
  .nav-fixed {
    width: 100vw;
  }
  header {
    .navBarMargin {
      margin: 0px;
    }
  }
  .color-langgan-flexible {
    color: #fff !important;
  }
  .li-line-bound {
    display: none;
  }
  header .nav-fixed {
    padding-left: 20px;
    z-index: 78;
    &.on-top {
      box-shadow: none;
      background-color: transparent;
      .nav-text {
        padding-right: 34px;
        background-color: transparent;
        &:after,
        &:before,
        span {
          background-color: #15bfae;
        }
      }
    }
  }
  #first-block {
    height: 600px;
    padding-bottom: 0px;
    overflow: hidden;
    article {
      width: 100%;
      padding: 100px 30px !important;
    }
    background: linear-gradient(45deg, #8cfae3, #c3d4fb);
    .line {
      background-position: right bottom;
      background-size: 380px;
      height: 100%;
    }
    h2 {
      margin-bottom: 40px !important;
      width: 350px;
      font-size: 24px;
    }
    .buttonMulaiSekarang {
      margin-top: 60px;
    }
    h4 {
      font-size: 24px;
      text-align: right;
    }
    p {
      width: 360px;
      font-size: 18px;
      text-align: left;
    }
  }
  #second-block {
    height: 100%;
    padding: 0;
    background: #f1ffff;
    padding-top: 100px;
    height: 720px;
    position: relative;
    .cr-wrapper {
      position: relative;
      z-index: 3;
      text-align: center;
      h3 {
        padding-top: 20px;
        margin-bottom: 20px;
        color: #0b877e;
        font-weight: 600;
      }
      img {
        width: 200px;
      }
      .desc {
        font-size: 14px;
        padding: 0px 20px;
        br {
          margin-bottom: 20px;
        }
      }
    }
    .st-bg {
      z-index: 1;
      overflow: hidden;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
    }
    article {
      width: 100%;
      padding: 50px;
      li {
        line-height: 33px;
      }
    }
    .line {
      background-position: center;
      background-size: 380px;
      height: 100%;
    }
    h4 {
      font-size: 24px !important;
      text-align: center !important;
    }
    ul {
      font-size: 18px;
    }
    h2 {
      position: relative;
      z-index: 2;
      padding-top: 110px;
    }
  }
  #third-block {
    padding-top: 0px;
    height: 650px;
    article {
      width: 100%;
      padding: 50px;
      padding-top: 280px !important;
      li {
        line-height: 33px;
      }
    }
    .line {
      background-position: top center;
      background-size: 380px;
      height: auto;
    }
    p {
      font-size: 22px;
      text-align: center;
      margin-top: 0px;
      color: #333;
    }
    h4 {
      text-align: center;
      font-size: 32px;
    }
    h4.margin-bottom {
      font-size: 26px;
      margin-bottom: 10px !important;
    }
    div.text-left {
      margin-top: 50px;
      text-align: center !important;
    }
  }
  #fourth-block {
    height: 500px;
    p,
    h4 {
      padding-left: 0px;
    }
    article {
      width: 100%;
      padding: 50px;
    }
    .line {
      background-position: right bottom;
      background-size: 300px;
      height: 100%;
    }
    p {
      font-size: 18px;
    }
  }
  #pilihpaket-block {
    height: auto;
    h2 {
      font-size: 24px;
    }
    .wrapper-card {
      display: block;
      overflow-x: scroll;
      white-space: nowrap;
      height: 390px;
      padding-top: 10px;
    }
  }
  .footer-mobile .subscribe-mobile {
    img {
      float: none !important;
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }
  #fifth-block {
    p {
      font-size: 18px;
    }
    button {
      height: 100%;
      padding: 10px 15px;
      font-size: 20px;
    }
  }
  .img-login,
  .img-register {
    display: none !important;
  }
  .modal-content-login {
    margin-left: auto;
    margin-right: auto;
    margin-top: 95px;
  }
  .modal-content-register {
    margin-left: 0 !important;
    margin-top: 95px;
  }
  .div-langgan-logo {
    padding-top: 9px;
  }
  .right {
    float: none;
  }
  nav {
    padding: 10px 0;
    height: 60px;
  }
  .logo img {
    max-width: 172px;
    max-height: 40px;
    margin: 0 auto;
    width: auto;
  }
  .footer-desktop {
    display: none;
  }
  .footer-mobile {
    display: block;
  }
  .margin-wa {
    display: none;
  }
  .starter,
  .premium,
  .enterprise {
    height: 370px !important;
    width: 300px !important;
    margin: 0 10px !important;
    display: inline-block;
    padding: 5px 15px !important;
    white-space: normal;
    label {
      font-size: 20px !important;
    }
    hr {
      margin: 5px auto;
    }
    .div-harga {
      margin-top: 40px;
    }
    li {
      font-size: 18px !important;
      line-height: 20px !important;
    }
  }
  .starter {
    margin: 0 auto;
  }
  .premium {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .enterprise {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  .subscribe {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .modal-content-kupon {
    width: 300px;
  }
  .modal-content-profile {
    width: 350px;
    .div-profile-preview {
      .div-name {
        text-align: center;
      }
      .div-image {
        margin-right: 0px;
      }
    }
    .div-form-profile {
      padding: 0 10px;
      .flex-container {
        display: flex !important;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .center-when-mobile {
    text-align: center !important;
  }
  .btn-block-when-mobile {
    width: 100%;
  }
  .margin-auto-when-mobile {
    margin: auto;
  }
  .text-center-when-mobile {
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .modal-login {
    top: 0 !important;
    z-index: 2 !important;
  }
  .div-langgan-logo {
    padding-top: 6px;
  }
  #first-block {
    article {
      width: 100%;
      padding: 35px !important;
      h4 {
        text-align: center;
      }
      p {
        text-align: justify;
      }
    }
  }
  #second-block {
    article {
      width: 100%;
      li {
        line-height: 20px;
      }
    }
  }
  #third-block {
    article {
      width: 100%;
      h4 {
        text-align: center;
      }
    }
  }
  #fourth-block {
    article {
      width: 100%;
      padding: 35px !important;
      h4 {
        text-align: center;
      }
      .first {
        text-align: justify !important;
      }
    }
  }
  .wrapper-card {
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    overflow-x: hidden !important;
    height: 100% !important;
    .card-price {
      display: block;
      width: 90% !important;
      margin-bottom: 30px !important;
      .div-harga {
        margin-top: 50px;
      }
    }
  }
  .langgan-flex {
    display: block !important;
  }
  .langgan-col {
    width: 100% !important;
    margin: 20px 0 !important;
  }
}

@media screen and (max-height: 600px) {
  .modal {
    display: none; /* Hidden by default */
    position: scroll; /* Stay in place */
    z-index: 1006; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 0px;
    &.profile {
      overflow: auto;
    }
  }
}

//responsive media query untuk tampilan mobile
@media screen and (max-width: 500px) {
  //responsive header
  header {
    .nav-fixed {
      position: fixed;
      z-index: 1;
      padding-left: 0px;
      padding-right: 0px;
      box-shadow: none;
      background: #d1faf6;
      // linear-gradient(#0fb8ad 0%, #1fc8db 20%, #2cb5e8 75%);
      .menu-tab:hover {
        background: #fff !important;
        color: #0b877e !important;
      }
      .line-bound:hover {
        color: rgba(0, 0, 0, 0.6) !important;
        background: transparent !important;
      }
    }
    .dropdown-menu {
      background: white !important;
      color: black;
      min-width: 100% !important;
      a {
        background: white !important;
      }
      a:hover {
        background: #508a88 !important;
      }
    }
    .nav-text {
      color: #fff;
      display: inline-block;
      margin-right: 0;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      background: #d1faf6;
      height: 60px;
      width: 60px;
      text-align: center;
      line-height: 60px;
      z-index: 50;
      padding-right: 15px;
      padding-top: 15px;
    }
    .top-nav li a {
      color: #565656;
      display: block;
      padding: 1.25rem 0.625rem;
      text-align: center;
      text-decoration: none;
      background: none repeat scroll 0 0 #d1faf6;
    }
    .navBarBlogMargin {
      margin-right: 0;
    }
    .navBarMargin {
      margin-left: 0;
    }
    .buttonLoginStyle {
      color: #565656;
      border: 0px solid #0b877e;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 20px;
      -webkit-transition: padding 365ms;
      transition: padding 365ms;
    }
    .vertical-align-center {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #d1faf6;
    }
    .div-langgan-logo {
      padding-top: 7px;
      width: 140px;
      height: 40px;
    }
  }

  //responsive section first
  #first-block {
    background: linear-gradient(to bottom, #8cfae350, #c3d4fb);
    padding-top: 5 rem;
    height: 806px;
    .line {
      background-image: url(../svg/mobile-asset/section-1-mobile.png);
      background-repeat: no-repeat;
      background-position: center;
      background-position-y: 60%;
      background-size: 70%;
      height: 100%;
      object-fit: contain;
    }


    article {
      padding-top: 131px;
      padding-left: 45px;
      h2 {
        text-align: center;
        color: black;
        font-size: 15px;
        font-weight: 500;
      }
      p {
        font-size: 12px;
        text-align: center;
      }
    }
    .buttonMulaiSekarang {
      -webkit-transition: width 565ms;
      transition: width 565ms;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 2px solid #0b877e;
      border-radius: 30px;
      margin-top: 460px;
      width: 100%;
    }
    .buttonMulaiSekarang:hover {
      width: 240px;
    }
  }

  //responsive section kenapa harus langgan
  #section-next-first-block {
    background: #f1ffff;
    height: 395px;
    padding-top: 45px;
    h2 {
      text-align: center;
      color: #0b877e;
      font-size: 17px;
      @include font-primary();
    }
    div {
      width: 100%;
      height: 100%;
      overflow: hidden;
      white-space: nowrap;
      .div1 {
        width: 50%;
        height: 30%;
        padding-top: 0px;
        float: none;
        img {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          object-fit: contain;
        }
        p {
          font-size: 12px;
          @include font-primary();
        }
      }
      .div2 {
        width: 50%;
        height: 30%;
        padding-top: 0px;
        // float: left;
        float: none;
        img {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          object-fit: contain;
        }
        p {
          font-size: 12px;
          @include font-primary();
        }
      }
      .div3 {
        width: 50%;
        height: 30%;
        padding-top: 0px;
        float: left;
        margin-top: 30px;
        img {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          object-fit: contain;
        }
        p {
          font-size: 12px;
          @include font-primary();
        }
      }
      .div4 {
        width: 50%;
        height: 30%;
        padding-top: 0px;
        float: left;
        margin-top: 30px;
        img {
          width: 45px;
          height: 45px;
          margin-bottom: 5px;
          object-fit: contain;
        }
        p {
          font-size: 12px;
          @include font-primary();
        }
      }
    }
  }

  //responsive section benefit
  #second-block {
    background: #f1ffff;
    height: 2590px;
    background-image: url(../svg/bg-anti-ribet-sec2.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
    object-fit: cover;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 25%;
    vertical-align: middle;

    h2 {
      font-size: 23px;
      font-weight: 500;
      text-align: center;
      @include font-primary();
    }
    .imageRight {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 87px;
    }
    .line {
      height: 313px;
      width: 100%;
      background-image: none;

      .gambarIlustrasiSec2 {
        width: 100%;
        height: 30%;
        display: block;
        margin-top: 80px;
      }

      .Sec2Text {
        width: 100%;
        height: 100%;
        float: left;
        padding-left: 0;
        padding-top: 15%;
        margin-top: 50px;
        h2 {
          font-size: 15px;
          font-weight: 600;
          @include font-primary();
        }
        .wrapperText {
          height: 100%;
          width: 100%;
          margin-top: 0px;
          .styleLine {
            width: 2%;
            height: 100%;
            margin-left: 10px;
          }
          article {
            width: 90%;
            padding: 0;
            h3 {
              font-size: 15px;
              margin-left: 10px;
              @include font-primary();
            }
            p {
              margin-left: 10px;
              font-size: 12px;
              @include font-primary();
            }
          }
        }
      }
    }
  }

  //responsive section tema
  #third-block {
    height: 500px;
    .line {
      background-image: url(../svg/Ilustrasi-Section-33.png);
      background-repeat: no-repeat;
      background-position: 100%;
      background-position-y: 0;
      background-position-x: center;
      background-size: 80%;
      height: 450px;
      object-fit: contain;
    }
    article {
      margin-top: 65%;
      padding-top:0 !important;
      padding-left:14px !important;
      padding-right:14px !important;

      div {
        margin-top: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      h4.margin-bottom {
        font-size: 15px;
      }
    }
    h2 {
      color: black;
      text-align: center;
      font-size: 17px;
      @include font-primary();
    }
    p {
      @include font-primary();
      font-size: 12px;
      text-align: center;
      margin-top: 10px;
    }
    .buttonTelusuriTema {
      -webkit-transition: padding 565ms;
      transition: padding 565ms;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 20px;
      padding-right: 20px;
      color: #0b877e;
      border: 2px solid #0b877e;
      border-radius: 30px;
      font-weight: bold;
      font-size: 12px;
      @include font-primary();
    }
    .buttonTelusuriTema:hover {
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  //responsive section pilih paket
  #pilihpaket-block {
    background: #f1ffff;
    height: 930px;
    background-image: url(../svg/mobile-asset/background-pembayaran-mobile.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    .wrapperPembayaran {
      width: 100%;
      height: auto;
      display: block;
      justify-content: center;
      align-items: center;
      .containerPembayaran1 {
        width: 100%;
        height: 100%;
        h2 {
          text-align: center;
          color: black;
          font-size: 17px;
          @include font-primary();
        }
        p {
          text-align: center;
          color: #4a4a4a;
          font-size: 12px;
          @include font-primary();
          margin: 0;
        }
        .contentPembayaran {
          background-repeat: no-repeat;
          background-image: none;
          width: 100%;
          height: 100%;
          background-position-y: 40px;
          object-fit: cover;
          .wrapperJudulPilihPaket {
            padding-left: 0;
            padding-bottom: 0;
            margin: 0;
          }
          .wrapperKeteranganPilihPaket {
            padding-left: 0;
            margin: 62px 25px 0 25px;
          }
          .wrapperListKeteranganPembayaran {
            width: 100%;
            height: 229px;
            margin-top: 30px;
            margin-left: 0px;
            display: block;
            align-items: center;
            .content1 {
              width: 100%;
              height: 67px;
              padding-left: 99px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block;
              }

              .imagePembayaran:hover {
                background-image: url(../svg/mobile-asset/icon-pembayaran-bisniskit-mobile.svg);
              }

              p {
                background: linear-gradient(to right, #15bfae, #5ca3fa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                margin-top: 0;
                font-size: 12px;
                text-align: left;
                margin-top: 0px !important;
              }
            }
            .content1:hover {
              transform: scale(1.1);
            }

            .content2 {
              width: 100%;
              height: 67px;
              padding-left: 99px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 10px;
              .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon2-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block;
              }

              .imagePembayaran:hover {
                background-image: url(../svg/mobile-asset/icon2-pembayaran-bisniskit-mobile.svg);
              }
              p {
                background: linear-gradient(to right, #15bfae, #5ca3fa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                margin-top: 0;
                font-size: 12px;
                text-align: left;
                margin-top: 0px !important;
              }
            }
            .content2:hover {
              transform: scale(1.1);
            }

            .content3 {
              width: 100%;
              height: 67px;
              padding-left: 99px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 10px;
              .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon3-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block;
              }

              .imagePembayaran:hover {
                background-image: url(../svg/mobile-asset/icon3-pembayaran-bisniskit-mobile.svg);
              }

              p {
                background: linear-gradient(to right, #15bfae, #5ca3fa);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-weight: 500;
                margin-top: 0;
                font-size: 12px;
                text-align: left;
                margin-top: 0px !important;
              }
            }
            .content3:hover {
              transform: scale(1.1);
            }
          }
        }
      }
      .containerPembayaran2 {
        width: 100%;
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
        .wrapperJangkaWaktu {
          padding-top: 0;
          padding-left: 0;
          p {
            text-align: center;
            color: #4a4a4a;
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 20px;
            padding-left: 0;
            @include font-primary();
          }

          .content1 {
            width: 100%;
            height: 97px;
            margin-bottom: 20px;

            p {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 8px;
              @include font-primary();
            }
            .subContentPembayaran {
              background: linear-gradient(to right, #d1c7ff, #a6d5ff);
              width: 100%;
              height: 59px;
              border-radius: 50px;
              box-shadow: 4px 5px 10px -1px #a6d5ff;
              cursor: pointer;
              .sub1 {
                width: 70%;
                height: 100%;
                padding-left: 35px;
                padding-top: 10px;
                p {
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 23px;
                  @include font-primary();
                  text-align: left;
                }
              }
              .sub2 {
                width: 30%;
                height: 100%;
                padding-top: 5px;
                padding-right: 5px;
                .buttonPilih {
                  background-image: url(../svg/arrowPembayaran1.svg);
                  background-repeat: no-repeat;
                  height: 50px;
                  width: 50px;
                  background-color: #ffffff;
                  border-radius: 24px;
                  display: inline-block;
                  background-position: 60% 50%;
                  background-repeat: no-repeat;
                  -webkit-transition: width 565ms;
                  transition: width 565ms;
                  cursor: pointer;
                }
                .buttonPilih:hover {
                  background-image: url(../svg/textPilihPembayaran1.svg);
                  width: 100px;
                  border-radius: 24px;
                  -moz-border-radius: 24px;
                  -webkit-border-radius: 24px;
                  background-position: 50% 50%;
                }
              }
            }
            .subContentPembayaran:hover {
              .buttonPilih {
                background-image: url(../svg/textPilihPembayaran1.svg);
                background-repeat: no-repeat;
                height: 50px;
                width: 100px;
                background-color: #ffffff;
                border-radius: 24px;
                display: inline-block;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                -webkit-transition: width 565ms;
                transition: width 565ms;
                cursor: pointer;
                border-radius: 24px;
                -moz-border-radius: 24px;
                -webkit-border-radius: 24px;
              }
            }
          }
          .content2 {
            width: 100%;
            height: 97px;

            p {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 8px;
            }
            .subContentPembayaran {
              background: linear-gradient(to right, #ffbba9, #ff96a9);
              width: 100%;
              height: 59px;
              border-radius: 50px;
              box-shadow: 4px 5px 10px -1px #ffbba9;
              cursor: pointer;
              .sub1 {
                width: 70%;
                height: 100%;
                padding-left: 35px;
                padding-top: 10px;
                p {
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 23px;
                  text-align: left;
                }
              }
              .sub2 {
                width: 30%;
                height: 100%;
                padding-top: 5px;
                padding-right: 5px;
                div {
                  background-image: url(../svg/arrowPembayaran2.svg);
                  background-repeat: no-repeat;
                  height: 50px;
                  width: 50px;
                  background-color: #ffffff;
                  border-radius: 24px;
                  display: inline-block;
                  background-position: 60% 50%;
                  background-repeat: no-repeat;
                  -webkit-transition: width 565ms;
                  transition: width 565ms;
                  cursor: pointer;
                }
                div:hover {
                  background-image: url(../svg/textPilihPembayaran2.svg);
                  width: 100px;
                  border-radius: 24px;
                  -moz-border-radius: 24px;
                  -webkit-border-radius: 24px;
                  background-position: 50% 50%;
                }
              }
            }
            .subContentPembayaran:hover {
              .buttonPilih {
                background-image: url(../svg/textPilihPembayaran2.svg);
                background-repeat: no-repeat;
                height: 50px;
                width: 100px;
                background-color: #ffffff;
                border-radius: 24px;
                display: inline-block;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                -webkit-transition: width 565ms;
                transition: width 565ms;
                cursor: pointer;
                border-radius: 24px;
                -moz-border-radius: 24px;
                -webkit-border-radius: 24px;
              }
            }
          }
          .content3 {
            width: 100%;
            height: 97px;

            p {
              font-size: 18px;
              font-weight: 500;
              margin-bottom: 8px;
            }
            .subContentPembayaran {
              background: linear-gradient(to right, #88bbff, #565cc5);
              width: 100%;
              height: 59px;
              border-radius: 50px;
              box-shadow: 4px 5px 10px -1px #88bbff;
              cursor: pointer;

              .sub1 {
                width: 70%;
                height: 100%;
                padding-left: 35px;
                padding-top: 10px;
                p {
                  color: #ffffff;
                  font-weight: bold;
                  font-size: 23px;
                  text-align: left;
                }
              }
              .sub2 {
                width: 30%;
                height: 100%;
                padding-top: 5px;
                padding-right: 5px;
                div {
                  background-image: url(../svg/arrowPembayaran3.svg);
                  background-repeat: no-repeat;
                  height: 50px;
                  width: 50px;
                  background-color: #ffffff;
                  border-radius: 24px;
                  display: inline-block;
                  background-position: 60% 50%;
                  background-repeat: no-repeat;
                  -webkit-transition: width 565ms;
                  transition: width 565ms;
                  cursor: pointer;
                }
                div:hover {
                  background-image: url(../svg/textPilihPembayaran3.svg);
                  width: 100px;
                  border-radius: 24px;
                  -moz-border-radius: 24px;
                  -webkit-border-radius: 24px;
                  background-position: 50% 50%;
                }
              }
            }
            .subContentPembayaran:hover {
              .buttonPilih {
                background-image: url(../svg/textPilihPembayaran3.svg);
                background-repeat: no-repeat;
                height: 50px;
                width: 100px;
                background-color: #ffffff;
                border-radius: 24px;
                display: inline-block;
                background-position: 50% 50%;
                background-repeat: no-repeat;
                -webkit-transition: width 565ms;
                transition: width 565ms;
                cursor: pointer;
                border-radius: 24px;
                -moz-border-radius: 24px;
                -webkit-border-radius: 24px;
              }
            }
          }
        }
      }
    }
  }

  //responsive section hubungi kami
  #fourth-block {
    background: linear-gradient(to bottom, #f1ffff, #ddfff4);
    height: 533px;
    .line {
      background-image: url(../svg/ilustrasi-Hubungi-Kami2.png);
      padding: 0;
      background-repeat: no-repeat;
      background-position: 100%;
      height: 100%;
      object-fit: contain;
      background-position-y: 100%;

      article {
        margin-top: 0;
      }
    }
    h2 {
      text-align: center;
      color: #565656;
      font-size: 17px;
      font-weight: 500;
      padding-left: 0;
      padding-bottom: 10px;
      @include font-primary();
    }
    i {
      margin-right: 10px;
    }
    p {
      padding-left: 0px;
      font-size: 12px;
      text-align: center;
      color: #4a4a4a;
      @include font-primary();
    }
  }

  //responive section maju bersama langgan
  #fifth-block {
    background-color: #ffffff;
    background-image: url(../svg/mobile-asset/Section-Melangkah-mobile.png);
    background-repeat: no-repeat;
    height: 380px;
    width: 100%;
    object-fit: contain;
    background-size: 100%;
    h2 {
      text-align: center;
      color: #0b877e;
      font-size: 17px;
      @include font-primary();
    }
    button {
      background-color: #15bfae;
      border: transparent;
      color: white;
      font-size: 10px;
      height: 20px;
      width: 82px;
      border-radius: 30px;
      font-weight: bold;
      box-shadow: 4px 5px 12px -1px #29d2c1;
      padding: 0;
    }
    p {
      font-size: 12px;
      color: #565656;
      font-weight: 500;
      @include font-primary();
    }
  }

  //responsive modal
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1006; /* Sit on top */
    left: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    padding-top: 7px;
    padding-left: 7px;
    padding-right: 7px;
    &.profile {
      overflow: auto;
    }
  }

  //responsive modal agreement
  .modal-agreement {
    background-color: #ffffff;
    // margin: 2% auto 0% auto;
    // border: 1px solid #888;
    width: 100%;
    height: 95%;
    // box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    // position: absolute;
    // display: inline-block;
    display: inline-block;
    margin-top: 5%;
    padding: 25px 25px;
    // margin-left: -23%;
    .div-label {
      text-align: left;
      label {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal;
      }
    }
    .div-p {
      margin-top: 20px;
      overflow-y: auto;
      height: 510px;
      p {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        opacity: 0.6;
        width: 732px;
        text-align: justify;
      }
    }
    .div-button {
      margin-top: 30px;
      .responsive-button {
        width: 50%;
        float: left;
      }
      .btn-white {
        border: 0;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
        width: 87px;
        height: 40px;
      }
      .btn-green {
        border: 0;
        background-color: #508a88;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
        width: 112px;
        height: 40px;
      }
    }
  }

  //responsive modal berhasil
  .modal-berhasil {
    background-color: #ffffff;
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 415px;
    display: inline-block;
    margin-top: 5%;
    padding: 25px 25px;
    // margin-left: -23%;
    .div-label {
      text-align: center;
      label {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal;
      }
    }
    .div-img {
      text-align: center;
      margin-top: 20px;
      // margin-bottom: 10px;
      img {
        display: inline;
      }
    }
    .div-p {
      margin-top: 30px;
      height: auto;
      p {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        opacity: 0.6;
        // width: 732px;
        text-align: justify;
      }
    }
    .div-button {
      margin-top: 30px;
      .btn-white-new {
        height: 45px;
      }
    }
  }

  //responsive modal profil
  .pilihanKota {
    // margin-top: 15px;
  }
  .kodePosForm {
    // margin-top: 15px;
  }
  .modal-content-profile {
    background-color: #fefefe;
    .div-form-profile {
      label {
        color: rgba(0, 0, 0, 0.774);
        font-weight: normal;
        font-size: 14px;
      }
      .form-control {
        background: #f7f7f7;
        border: 1.5px solid #979797;
        border-radius: 3px !important;
      }
      select {
        width: 100%;
        height: 37px;
        display: inline;
      }
      input[type="number"]::-webkit-inner-spin-button,
      input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
      input[type="number"] {
        -moz-appearance: textfield; /* Firefox */
      }
    }
  }
}

//responsive media query untuk tampilan mobile lebih kecil lagi
@media screen and (max-width: 340px) {
  //responsive header
  header {
    .nav-fixed {
      position: fixed;
      z-index: 1;
      padding-left: 0px;
      padding-right: 0px;
      box-shadow: none;
      background: #d1faf6;
      // linear-gradient(#0fb8ad 0%, #1fc8db 20%, #2cb5e8 75%);
      .menu-tab:hover {
        background: #fff !important;
        color: #0b877e !important;
      }
      .line-bound:hover {
        color: rgba(0, 0, 0, 0.6) !important;
        background: transparent !important;
      }
    }
    .dropdown-menu {
      background: white !important;
      color: black;
      min-width: 100% !important;
      a {
        background: white !important;
      }
      a:hover {
        background: #508a88 !important;
      }
    }
    .nav-text {
      color: #fff;
      display: inline-block;
      margin-right: 0;
      width: auto;
      position: absolute;
      top: 0;
      right: 0;
      background: #d1faf6;
      height: 60px;
      width: 60px;
      text-align: center;
      line-height: 60px;
      z-index: 50;
      padding-top: 15px;
    }

    .top-nav li a {
      color: #565656;
      display: block;
      padding: 1.25rem 0.625rem;
      text-align: center;
      text-decoration: none;
      background: none repeat scroll 0 0 #d1faf6;
    }

    .navBarBlogMargin {
      margin-right: 0;
    }
    .navBarMargin {
      margin-left: 0;
    }
    .buttonLoginStyle {
      color: #565656;
      border: 0px solid #0b877e;
      padding: 5px;
      padding-left: 15px;
      padding-right: 15px;
      border-radius: 20px;
      -webkit-transition: padding 365ms;
      transition: padding 365ms;
    }
    .vertical-align-center {
      display: flex;
      justify-content: center;
      align-items: center;
      background: #d1faf6;
    }
  }

  //responsive section first
  #first-block {
    background: linear-gradient(to bottom, #8cfae350, #c3d4fb);
    padding-top: 5 rem;
    height: 786px;
    .buttonMulaiSekarang {
      margin-top: 400px;
    }
  }

  //responsive section benefit
  #second-block {
    background: #f1ffff;
    height: 2390px;
    background-image: url(../svg/bg-anti-ribet-sec2.svg);
    background-repeat: no-repeat;
    background-position: 100%;
    width: 100%;
    object-fit: cover;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 25%;

    .imageRight {
      display: flex;
      flex-direction: column-reverse;
      padding-top: 87px;
    }
    .line {
      .gambarIlustrasiSec2 {
        margin-top: 70px;
      }

      .Sec2Text {
        padding-top: 0;
        margin-top: 50px;
      }
    }
  }

  //responsive section pilih paket
  #pilihpaket-block {
    background: #f1ffff;
    height: 980px;
    background-image: url(../svg/mobile-asset/background-pembayaran-mobile.svg);
    background-repeat: no-repeat;
    object-fit: cover;
    .wrapperPembayaran {
      .containerPembayaran1 {
        .contentPembayaran {
          .wrapperListKeteranganPembayaran {
            .content1 {
              width: 100%;
              height: 67px;
              padding-left: 50px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block;
              }
            }

            .content2 {
              width: 100%;
              height: 67px;
              padding-left: 50px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 10px;
              .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon2-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block;
              }
            }

            .content3 {
              width: 100%;
              height: 67px;
              padding-left: 50px;
              transition: all 0.2s ease-in-out;
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-top: 10px;
              .imagePembayaran {
                width: 90px;
                height: 67px;
                background-image: url(../svg/mobile-asset/icon3-pembayaran-bisniskit-mobile.svg);
                background-repeat: no-repeat;
                object-fit: contain;
                text-align: left;
                float: none;
                margin: 0;
                display: block;
              }
            }
          }
        }
      }
    }
  }

  //responsive section maju bersama
  #fifth-block {
    background-color: #ffffff;
    background-image: url(../svg/mobile-asset/Section-Melangkah-mobile.png);
    background-repeat: no-repeat;
    height: 320px;
    width: 100%;
    object-fit: contain;
    background-size: 100%;
    h4 {
      text-align: center;
      color: #0b877e;
      font-size: 12px;
      @include font-primary();
    }
    button {
      background-color: #15bfae;
      border: transparent;
      color: white;
      font-size: 10px;
      height: 20px;
      width: 82px;
      border-radius: 30px;
      font-weight: bold;
      box-shadow: 4px 5px 12px -1px #29d2c1;
      padding: 0;
    }
    p {
      font-size: 10px;
      color: #565656;
      font-weight: 500;
      @include font-primary();
    }
  }

  //responsive modal agreement
  .modal-agreement {
    background-color: #ffffff;
    // margin: 2% auto 0% auto;
    // border: 1px solid #888;
    width: 100%;
    height: 95%;
    // box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.5);
    // position: absolute;
    // display: inline-block;
    display: inline-block;
    margin-top: 5%;
    padding: 25px 25px;
    // margin-left: -23%;
    .div-label {
      text-align: left;
      label {
        font-size: 22px;
        color: rgba(0, 0, 0, 0.87);
        font-weight: normal;
      }
    }
    .div-p {
      margin-top: 20px;
      overflow-y: auto;
      height: 70%;
      p {
        color: #000000;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        opacity: 0.6;
        width: 732px;
        text-align: justify;
      }
    }
    .div-button {
      margin-top: 30px;
      .responsive-button {
        width: 50%;
        float: left;
      }
      .btn-white {
        border: 0;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
        width: 87px;
        height: 40px;
      }
      .btn-green {
        border: 0;
        background-color: #508a88;
        border-radius: 5px;
        box-shadow: 4px 4px 10px 0 rgba(0, 0, 0, 0.5);
        width: 112px;
        height: 40px;
      }
    }
  }
}


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    color: black;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
